@import '~sass/styles.scss';

.footer_sec {
  padding: 0 1rem;

  P {
    font-size: 14px;
    color: $th_theme_text;
    text-align: right;
    margin-bottom: 0 !important;
    padding: 8px;

    a {
      font-size: 14px;
      font-weight: 400;
      color: $th_theme_purple;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer_sec {
    background: $th_theme_purple;
    width: 100%;
    height: 40px;

    p {
      color: $th_theme_white;
      font-size: 14px;
      text-align: center;

      a {
        color: $th_theme_white;
      }
    }
  }

}

@media only screen and (max-width: 600px) {
  .footer_sec {
    height: 40px;
  }
}
