<section class="page_content_modal mb-3 pb-3">
  <h1 class="m-0">Customer Machine Details</h1>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</section>

<section class="accurate_main_area">
  <mat-card class="my-card">
    <mat-card-content class="dialog_form_page">
      <form [formGroup]="productForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec">
        <div class="form-row">
          <!-- <div class="form-group col-lg-3 col-md-6 modify_input">
                <label for="">Machine Image</label>
                <mat-form-field appearance="fill" class="form_filed">
                  <ngx-mat-file-input valuePlaceholder={{url}} formControlName="machine_url"
                    (change)="onChangeImage($event.target.files[0])">
                  </ngx-mat-file-input>
                  <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
              </div> -->
          <div class="form-group col-lg-3 col-md-6">
            <label for="">Make<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed">
              <input matInput placeholder="Make" formControlName="make" #input [value]="input.value.toUpperCase()"
                pattern="^[A-Za-z0-9]*$" required>
              <mat-error *ngIf="productForm.controls['make'].errors?.required">Make is required
              </mat-error>
              <mat-error *ngIf="productForm.controls['make'].errors?.pattern">Only Alpha Numerics are allowed.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-lg-3 col-md-6">
            <label for="">Model<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed">
              <input matInput placeholder="Model" formControlName="mac_model" required>
              <mat-error *ngIf="productForm.controls['mac_model'].errors?.required">Model is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-lg-3 col-md-6">
            <label for="">Capacity<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed">
              <mat-select formControlName="capacity_id" (selectionChange)="getAccuraciesByCapacity($event.value)">
                <input matInput placeholder="Search" (keyup)="search_Capacity($event.target.value)"
                  (keydown)="$event.stopPropagation()" class="search">
                <mat-option value="" selected disabled>Select Capacity</mat-option>
                <mat-option *ngFor="let capacity of capacities" [value]="capacity">{{capacity}}</mat-option>
              </mat-select>
              <mat-error *ngIf="productForm.controls['capacity_id'].errors?.required">Capacity is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group col-lg-3 col-md-6">
            <label for="">Accuracy<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed">
              <mat-select formControlName="accuracy_id" (selectionChange)="onChangeAccuracy($event.value)">
                <input matInput placeholder="Search" (keyup)="search_Accuracy($event.target.value)"
                  (keydown)="$event.stopPropagation()" class="search">
                <mat-option value="" selected disabled>Select Accuracy</mat-option>
                <mat-option *ngFor="let accuracy of accuracies" [value]="accuracy">{{accuracy}}</mat-option>
              </mat-select>
              <mat-error *ngIf="productForm.controls['accuracy_id'].errors?.required">Accuracy is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-3 col-md-6">
            <label for="">Machine Class<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed read_only">
              <!-- <mat-select formControlName="machine_class_id" disabled>
                    <mat-option value="" selected disabled>Select Machine Class</mat-option>
                    <mat-option *ngFor="let machine of machine_class" [value]="machine.id">{{machine.class_name}}</mat-option>
                  </mat-select> -->
              <input matInput placeholder="Machine Class" formControlName="machine_class_id" required [readonly]="true">
              <mat-error *ngIf="productForm.controls['machine_class_id'].errors?.required">Machine Class is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group col-lg-3 col-md-6">
            <label for="">Sl No<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed">
              <input matInput placeholder="Sl no" formControlName="sl_no" required
                (keyup)="sl_no_validation($event.target.value)">
              <mat-error *ngIf="productForm.controls['sl_no'].errors?.required">Sl No is required
              </mat-error>
              <mat-error *ngIf="productForm.controls['sl_no'].errors?.sl_no_valid">Sl No already exists
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-lg-3 col-md-6">
            <label for="">Stamp Quarters<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed">
              <!-- <input matInput type="number" placeholder="Stamp quarters(In Months)" formControlName="stamp_quarters"  maxlength="2" required> -->
              <mat-select formControlName="stamp_quarters">
                <mat-option value="" selected disabled>Select stamp Quarters</mat-option>
                <mat-option value="A">A (Jan-Mar)</mat-option>
                <mat-option value="B">B (Apr-Jun)</mat-option>
                <mat-option value="C">C (Jul-Sep)</mat-option>
                <mat-option value="D">D (Oct-Dec)</mat-option>
              </mat-select>
              <mat-error *ngIf="productForm.controls['stamp_quarters'].errors?.required">Stamp Quarter is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-lg-3 col-md-6">
            <label for="">Stamping City<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed">
              <input matInput placeholder="Stamping city" formControlName="stamping_city">
              <mat-error *ngIf="productForm.controls['stamping_city'].errors?.required">Stamping City is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <!-- <div class="form-group col-lg-3 col-md-6">
            <label for="">SI Circle<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed">
              <input matInput placeholder="SI circle" formControlName="si_circle">
              <mat-error *ngIf="productForm.controls['si_circle'].errors?.required">SI Circle is required
              </mat-error>
            </mat-form-field>
          </div> -->
          <div *ngIf="value.new" class="form-group col-lg-3 col-md-6 align_input"
            formGroupName="stamping_dues_attributes">
            <label for="">Stamp Due Date<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed date_select modify_input pb-1" (click)="picker.open()">
              <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Date" autocomplete="off"
                formControlName="stamp_due_date" class="date_select pb-1">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="productForm.controls.stamping_dues_attributes['controls'].stamp_due_date.errors?.required">Stamp
                Due Date is required
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="!value.new" class="form-group col-lg-3 col-md-6 align_input"
            formGroupName="stamping_dues_attributes">
            <label for="">Stamp Due Date</label>
            <mat-form-field appearance="fill" class="form_filed modify_input read_only pb-1">
              <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Date" autocomplete="off"
                formControlName="stamp_due_date" class="pb-1">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="productForm.controls.stamping_dues_attributes['controls'].stamp_due_date.errors?.required">Stamp
                Due Date is required
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="value.new" class="form-group col-lg-3 col-md-6 modify_input">
            <label for="">Machine Image</label>
            <mat-form-field appearance="fill" class="form_filed">
              <ngx-mat-file-input valuePlaceholder={{url}} formControlName="machine_url" multiple
                (change)="onChangeImage($event.target.files)" accept="image/*">
              </ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
            <!-- <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
            <h3 id="status"></h3>
            <p id="loaded_n_total"></p> -->
          </div>
          <!-- <div class="form-group col-lg-3 col-md-6" formGroupName="stamping_dues_attributes">
            <label for="">Verification Number</label>
            <mat-form-field appearance="fill" class="form_filed">
              <input matInput placeholder="Verification number" formControlName="verification_cert_no">
            </mat-form-field>
          </div>
          <div class="form-group col-lg-3 col-md-6 modify_input" formGroupName="stamping_dues_attributes">
            <label for="">Verification Certificate</label>
            <mat-form-field appearance="fill" class="form_filed">
              <ngx-mat-file-input valuePlaceholder={{url}} formControlName="verification_cert_url"
                (change)="onChangeImage($event.target.files[0])">
              </ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div> -->
        </div>
        <div class="d-flex justify-content-end form_btn">
          <button *ngIf="!value.new" mat-raised-button type="submit" class="btn" [disabled]="clicked">Update</button>
          <button *ngIf="value.new" mat-raised-button type="submit" class="btn" [disabled]="clicked">Add</button>
          <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>