@import '~sass/styles.scss';

.bg_card{
    background: #f5f5f5;
}

.accurate_main_area{
    .product_details{
        margin-top: 15px;
        .product_img{
            max-width: 100%;
            img{
                max-height: 500px;
                height: 100px;
                max-width: 100%;
                width: 100px;
                object-fit: cover;
                object-position: center;
            }
        }
        .sub_title{
            vertical-align: top;
            overflow: hidden;
            padding: 0 15px;
            span{
                color: #404E67;
            }
        }
        ul{
            li{
                font-size: 14px;
                color: #969696;
                padding: 2px 0px;
                span{
                    color: #404E67;
                    &.view{
                        color: $th_theme_purple;
                    }
                }
            }
        }
        .qr_code{
            max-width: 100%;
            // border: 1px solid #e2e2e2;
            img{
                max-height: 500px;
                max-width: 100%;
                height: 150px;
                width: 150px;
                object-fit: cover;
                object-position: center;
            }
        }
        .edit{
            mat-icon{
                color:$th_theme_white;
            }
        }
    }
}
@media only screen and (max-width: 1440px) {
    .accurate_main_area{
        .product_details{
            margin-top: 15px;
            .product_img{
                max-width: 100%;
                img{
                    max-height: 500px;
                    height: 130px;
                    max-width: 100%;
                    width: 130px;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .qr_code{
                max-width: unset;
                img{
                    max-height: unset;
                    max-width: unset;
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                    object-position: center;
                }
            }
           
        }
    }

}