<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">Customer Management</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/customer/list']"> Customer Management </a></li>
          <li class="breadcrumb-item active" aria-current="page">Customer Details</li>
        </ol>
      </nav>
    </div>
  </section>

  <section class="accurate_main_area">
    <mat-card class="my-card" *ngIf="customers?.user?.status === null && this.token.getRole() !== 'Verifier'">
      <mat-card-content class="dialog_form_page">
        <form [formGroup]="customerForm" autocomplete="off" class="form_sec">
          <div class="form-row">
            <div class="form-group col-lg-3 col-md-6">
              <label for="">Customer ID</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Customer ID" formControlName="uuid" [readonly]="true">
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label for="">Customer Name<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput placeholder="Customer name" formControlName="full_name">
                <mat-error *ngIf="customerForm.controls['full_name'].errors?.required">Customer Name is required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group col-lg-3 col-md-6">
              <label for="">Mobile Number</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Mobile number" formControlName="username" [readonly]="true">
              </mat-form-field>
            </div>

            <div class="form-group col-lg-3 col-md-6" formGroupName="customer_attributes">
              <label for="">Whatsapp Number</label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput placeholder="Whatsapp number" formControlName="whatsapp_no" pattern="[0-9]*"
                  minlength="10" maxlength="10">
                <mat-error *ngIf="customerForm.controls.customer_attributes['controls'].whatsapp_no.errors?.pattern">
                  Please Enter a Valid Number
                </mat-error>
                <mat-error *ngIf="customerForm.controls.customer_attributes['controls'].whatsapp_no.errors?.minlength">
                  Mobile Number Should be 10 digit
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row" formGroupName="customer_attributes">
            <div class="form-group col-lg-3 col-md-6">
              <label for="">Business Name<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput placeholder="Business name" formControlName="business_name">
                <mat-error *ngIf="customerForm.controls.customer_attributes['controls'].business_name.errors?.required">
                  Business Name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label for="">State<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select formControlName="state" (selectionChange)="getCities($event.value)">
                  <input matInput placeholder="Search" (keyup)="search_state($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search">
                  <mat-option value="" disabled>Select State </mat-option>
                  <mat-option *ngFor="let state of states" [value]="state?.id">{{state.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="customerForm.controls.customer_attributes['controls'].state.errors?.required"> State
                  is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label for="">City<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select formControlName="city">
                  <input matInput placeholder="Search" (keyup)="search_city($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search">
                  <mat-option value="" disabled> Select City</mat-option>
                  <mat-option *ngFor="let city of cities" [value]="city?.id">{{city.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="customerForm.controls.customer_attributes['controls'].city.errors?.required"> City is
                  required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label for="">Pincode<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput placeholder="Pincode" formControlName="pincode" pattern="[0-9]*" maxlength="7">
                <mat-error *ngIf="customerForm.controls.customer_attributes['controls'].pincode.errors?.required">
                  Pincode
                  is required
                </mat-error>
                <mat-error *ngIf="customerForm.controls.customer_attributes['controls'].pincode.errors?.pattern"> Please
                  Enter a Valid Pincode</mat-error>
              </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- <div class="form-row"> -->
            <div class="form-group  col-lg-3 col-md-6">
              <label for="">Dealer Name</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Dealer Name" value="{{customers?.dealer_name}}" [readonly]="true" matTooltip={{customers?.dealer_name}} matTooltipPosition=above>
              </mat-form-field>
            </div>

            <div class="form-group  col-lg-3 col-md-6">
              <label for="">Category<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select formControlName="customer_category_id" (selectionChange)="getSubCategories($event.value)">
                  <mat-option value="" disabled> Select Category</mat-option>
                  <mat-option *ngFor="let category of categories" [value]="category?.id">{{category.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="customerForm.controls.customer_attributes['controls'].customer_category_id.errors?.required">
                  Category is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group  col-lg-3 col-md-6">
              <label for="">Sub Category<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <mat-select formControlName="sub_category_id">
                  <mat-option value="" disabled> Select Sub Category</mat-option>
                  <mat-option *ngFor="let sub of sub_categories" [value]="sub?.id">{{sub.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="customerForm.controls.customer_attributes['controls'].sub_category_id.errors?.required">
                  Sub Category is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 align_input">
              <label for="">Address<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <textarea matInput placeholder="Address" formControlName="address_line1"></textarea>
                <mat-error *ngIf="customerForm.controls.customer_attributes['controls'].address_line1.errors?.required">
                  Address is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
            <label for="">SI Circle</label>
            <mat-form-field appearance="fill" class="form_filed">
              <input matInput placeholder="SI circle" formControlName="si_circle">
              <!-- <mat-error *ngIf="productForm.controls['si_circle'].errors?.required">SI Circle is required
              </mat-error> -->
            </mat-form-field>
          </div>
          </div>
          <div>
            <button mat-icon-button (click)="add()">
              <mat-icon>add_circle</mat-icon>
              Add New Machine
            </button>
          </div>
          <h5 class="mb-3" *ngIf="customers?.machines.length > 0">View Machine Details</h5>
          <!-- <button class="btn add_btn" id="view-prd-d">View Machine Details</button> -->

          <div class="view_details" *ngIf="customers?.machines.length > 0">
            <mat-card class="my-card my-3 bg_card" *ngFor="let machine of customers.machines">
              <mat-card-content *ngIf="customers">
                <div class="product_details">
                  <div class="row mx-2">
                    <div class="col-lg-2 col-md-3">
                      <div *ngIf="machine.machine_assets.length > 0">
                      <owl-carousel [options]="{items: 1, dots: true, navigation: true}"
                      [items]="machine.machine_assets" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                        <div class="item" *ngFor="let image of machine.machine_assets;let i = index">
                          <div class="thumbnail-image">
                              <img src="{{BaseURL}}/{{image.pic_url.url}}">
                        </div>
                        </div>
                      </owl-carousel>
                      </div>
                      <div class="product_img mb-2"  *ngIf="machine.machine_assets.length === 0">
                        <img *ngIf="machine.machine_url" src="{{BaseURL}}/{{machine.machine_url}}"
                          onerror="this.src='assets/img/machine.png'">
                        <img *ngIf="!machine.machine_url" src="assets/img/machine.png">
                      </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                      <div class="row d-flex justify-content-between align-items-start">
                        <div class="sub_title">
                          <h5>Electronics Machine</h5>
                        </div>
                        <!-- <button (click)="edit(machine,machine.id)" mat-raised-button class="btn add_btn edit p-0">
                          <mat-icon class="mr-1 icons">edit</mat-icon>
                        </button> -->
                        <button mat-icon-button (click)="edit(machine,machine.id)">
                          <mat-icon>create</mat-icon>
                        </button>
                      </div>
                      <div class="d-flex justify-content-between">
                        <ul class="list-unstyled">
                          <li>Make: <span>{{machine.make || '---'}}</span></li>
                          <li>Model: <span>{{machine.mac_model || '---'}}</span></li>
                          <li>Cap: <span>{{machine.machine_class.capacity}}</span></li>
                          <li>Accuracy: <span>{{machine.machine_class.accuracy}}</span></li>
                        </ul>
                        <ul class="list-unstyled">
                          <li>Class: <span>{{machine.machine_class.class_name}}</span></li>
                          <li>Stamp Quarter: <span>{{machine.stamp_quarters || '---'}}</span></li>
                          <li>Stamp Due Date: <span>{{machine?.upcoming_due?.stamp_due_date || '---'}}</span></li>
                          <li>Stamping city: <span>{{machine.stamping_city || '---'}}</span></li>
                        </ul>
                        <ul class="list-unstyled">
                          <li>Sl.No: <span>{{machine.sl_no || '---'}}</span></li>
                          <!-- <li>SI Circle: <span>{{machine.si_circle || '---'}}</span></li> -->
                        </ul>
                        <!-- <ul class="list-unstyled">
                          <li>Verification Number: <span>{{machine?.upcoming_due?.verification_cert_no || '---'}}</span>
                          </li>
                          <li>Verification Certificate <br> Attachment:
                            <span>{{machine?.upcoming_due?.verification_cert_url?.split('/').pop() || '---'}}</span>
                          </li>
                        </ul> -->
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <button *ngIf="!machine.qr_code" (click)="generate_qrcode(machine.id)"
                        class="btn add_btn mr-2">Generate QR</button>
                      <button *ngIf="machine.qr_code" disabled (click)="generate_qrcode(machine.id)"
                        class="btn add_btn mr-2">Generate QR</button>
                      <div class="qr_code my-3">
                        <img *ngIf="machine.qr_code" src="{{BaseURL}}/{{machine.qr_code}}">
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="justify-content-between form_btn">
            <mat-checkbox *ngIf="customers?.user?.status === null" formControlName="status">Verify</mat-checkbox>
            <button mat-raised-button (click)="submit()" class="btn align_right" [disabled]="clicked">Update</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
    <mat-card class="my-card" *ngIf="customers?.user?.status !== null || this.token.getRole() === 'Verifier'">
      <mat-card-content>
        <form [formGroup]="customerForm" autocomplete="off" class="form_sec">
          <div class="form-row">
            <div class="form-group col-lg-3 col-md-6">
              <label for="">Customer ID</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Customer ID" formControlName="uuid" [readonly]="true">
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label for="">Customer Name</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Customer name" formControlName="full_name" [readonly]="true" matTooltip={{customers.user.full_name}} matTooltipPosition=above>
              </mat-form-field>
            </div>

            <div class="form-group col-lg-3 col-md-6">
              <label for="">Mobile Number</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Mobile number" formControlName="username" [readonly]="true">
              </mat-form-field>
            </div>

            <div class="form-group col-lg-3 col-md-6" formGroupName="customer_attributes">
              <label for="">Whatsapp Number</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Whatsapp number" formControlName="whatsapp_no" pattern="[0-9]*"
                  minlength="10" maxlength="10" [readonly]="true">
              </mat-form-field>
            </div>
          </div>

          <div class="form-row" formGroupName="customer_attributes">
            <div class="form-group col-lg-3 col-md-6">
              <label for="">Business Name</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Business name" formControlName="business_name" [readonly]="true" matTooltip={{customers.business_name}} matTooltipPosition=above>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label for="">State</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="State" value="{{customers?.state?.name}}" [readonly]="true">
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label for="">City</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="City" value="{{customers?.city?.name}}" [readonly]="true">
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label for="">Pincode</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Pincode" formControlName="pincode" pattern="[0-9]*" maxlength="7"
                  [readonly]="true">
              </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- <div class="form-row"> -->
            <div class="form-group  col-lg-3 col-md-6">
              <label for="">Dealer Name</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Dealer Name" value="{{customers?.dealer_name}}" [readonly]="true" matTooltip={{customers?.dealer_name}} matTooltipPosition=above>
              </mat-form-field>
            </div>
            <div class="form-group  col-lg-3 col-md-6">
              <label for="">Category</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Category" value="{{customers?.customer_category?.name}}" [readonly]="true" matTooltip={{customers?.customer_category?.name}} matTooltipPosition=above>
              </mat-form-field>
            </div>
            <div class="form-group  col-lg-3 col-md-6">
              <label for="">Sub Category</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="Sub Category" value="{{customers?.sub_category?.name}}" [readonly]="true" matTooltip={{customers?.sub_category?.name}} matTooltipPosition=above>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 align_input">
              <label for="">Address</label>
              <mat-form-field appearance="fill" class="form_filed modify_input read_only">
                <textarea matInput placeholder="Address" formControlName="address_line1" [readonly]="true"
                  class="pb-1" matTooltip={{customers.address_line1}} matTooltipPosition=above></textarea>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label for="">SI Circle</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
                <input matInput placeholder="SI Circle" formControlName="si_circle" [readonly]="true"
                  class="pb-1" matTooltip={{customers.si_circle}} matTooltipPosition=above>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-icon-button (click)="add()">
              <mat-icon>add_circle</mat-icon>
              Add New Machine
            </button>
          </div>
          <h5 class="mb-3" *ngIf="customers?.machines.length > 0">View Machine Details</h5>
          <!-- <button class="btn add_btn" id="view-prd-d">View Machine Details</button> -->
          <div class="view_details" *ngIf="customers?.machines.length > 0">
            <mat-card class="my-card my-3 bg_card" *ngFor="let machine of customers.machines">
              <mat-card-content *ngIf="customers">
                <div class="product_details">
                  <div class="row mx-2">
                    <div class="col-lg-2 col-md-3">
                      <div *ngIf="machine.machine_assets.length > 0">
                      <owl-carousel [options]="{items: 1, dots: true, navigation: true}"
                      [items]="machine.machine_assets" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                        <div class="item" *ngFor="let image of machine.machine_assets;let i = index">
                          <div class="thumbnail-image">
                              <img src="{{BaseURL}}/{{image.pic_url.url}}">
                        </div>
                        </div>
                      </owl-carousel>
                      </div>
                      <div class="product_img mb-2"  *ngIf="machine.machine_assets.length === 0">
                        <img *ngIf="machine.machine_url" src="{{BaseURL}}/{{machine.machine_url}}"
                          onerror="this.src='assets/img/machine.png'">
                        <img *ngIf="!machine.machine_url" src="assets/img/machine.png">
                      </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                      <div class="row d-flex justify-content-between align-items-start">
                        <div class="sub_title">
                          <h5>Electronics Machine</h5>
                        </div>
                        <!-- <button (click)="edit(machine,machine.id)" mat-raised-button class="btn add_btn edit">
                          <mat-icon class="mr-1 icons">edit</mat-icon>
                        </button> -->

                        <!-- <a href="javascript:;" mat-raised-button (click)="edit(machine,machine.id)" class="btn add_btn mr-2">  <mat-icon class="mr-1 icons">edit</mat-icon></a> -->
                      </div>
                      <div class="d-flex justify-content-between">
                        <ul class="list-unstyled">
                          <li>Make: <span>{{machine.make || '---'}}</span></li>
                          <li>Model: <span>{{machine.mac_model || '---'}}</span></li>
                          <li>Cap: <span>{{machine.machine_class.capacity}}</span></li>
                          <li>Accuracy: <span>{{machine.machine_class.accuracy}}</span></li>
                        </ul>
                        <ul class="list-unstyled">
                          <li>Class: <span>{{machine.machine_class.class_name}}</span></li>
                          <li>Stamp Quarter: <span>{{machine.stamp_quarters || '---'}}</span></li>
                          <li>Stamp Due Date: <span>{{machine?.upcoming_due?.stamp_due_date || '---'}}</span></li>
                          <li>Stamping city: <span>{{machine.stamping_city || '---'}}</span></li>
                        </ul>
                        <ul class="list-unstyled">
                          <li>Sl.No: <span>{{machine.sl_no || '---'}}</span></li>
                          <!-- <li>SI Circle: <span>{{machine.si_circle || '---'}}</span></li> -->
                        </ul>
                        <!-- <ul class="list-unstyled">
                          <li>Verification Number: <span>{{machine?.upcoming_due?.verification_cert_no || '---'}}</span>
                          </li>
                          <li>Verification Certificate <br> Attachment:
                            <span>{{machine?.upcoming_due?.verification_cert_url?.split('/').pop() || '---'}}</span>
                          </li>
                        </ul> -->
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <button *ngIf="!machine.qr_code" (click)="generate_qrcode(machine.id)"
                        class="btn add_btn mr-2">Generate QR</button>
                      <button *ngIf="machine.qr_code" disabled (click)="generate_qrcode(machine.id)"
                        class="btn add_btn mr-2">Generate QR</button>
                      <div class="qr_code my-3">
                        <img *ngIf="machine.qr_code" src="{{BaseURL}}/{{machine.qr_code}}">
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="justify-content-between form_btn" *ngIf="customers?.user?.status === null" >
            <mat-checkbox formControlName="status">Verify</mat-checkbox>
            <button mat-raised-button (click)="submit()" class="btn align_right" [disabled]="clicked">Update</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
</div>