<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer [opened]="openmode" class="example-sidenav" [mode]="navMode">
    <app-sidebar *ngIf="this.token.isTokenValidated()"></app-sidebar>
    <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
    <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-header *ngIf="this.token.isTokenValidated()" (toggleMenu)="drawer.toggle()"></app-header>
    <div class="loader">
      <app-loader [isLoading]="isLoading"></app-loader>
    </div>
    <router-outlet></router-outlet>
    <app-footer *ngIf="this.token.isTokenValidated()"></app-footer>
  </div>

</mat-drawer-container>
