<section class="sidebar_wrapper" id="sidebar">
  <!-- <div class="sidebar_logo d-flex justify-content-center">
    <a href="javascript:;" class="logo">
      <img src="../../../../assets/img/logo.svg"></a>
  </div> -->
  <div class="sidebar_logo d-flex justify-content-center">
    <a href="javascript:;" class="logo">
      <span>Weighing Scaleman </span>
      <!-- <img src="../../../../assets/img/logo-dumy.png"> -->
    </a>
  </div>
  <ul class="sidenav list-unstyled py-2 navbar-nav main-nav-link">
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/dashboard']" (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">home</mat-icon> Dashboard
      </a>
    </li>
    <li [routerLinkActive]="['active']" *ngIf="this.token.getRole()=='Distributor' ">
      <a [routerLink]="['/staff']" (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">perm_identity</mat-icon> Staff Management
      </a>
    </li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/dealer']" (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">person</mat-icon> Dealer Management
      </a></li>
    <li [routerLinkActive]="['activePath']"><a  [ngClass]="{'active': activePath}"  [routerLink]="['/customer/list']" (click)="customerSelect()">
        <mat-icon matPrefix class="mr-1 icons">people</mat-icon> Customer Management
      </a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/service']" (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">contact_support</mat-icon> Service Management
      </a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/new-req']" (click)="closeNavBar()"
        matTooltip="New Machine Requirements" matTooltipPosition=above>
        <mat-icon matPrefix class="mr-1 icons">list</mat-icon> New Machine Requirements
      </a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/due']" (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">date_range</mat-icon> Stamping
      </a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['/report']" (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">assignment</mat-icon> Report Management
      </a></li>
    <li [routerLinkActive]="['active']" *ngIf="this.token.getRole() === 'Superadmin'"><a [routerLink]="['/masters']"
        (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">perm_identity</mat-icon> Masters
      </a></li>
    <li [routerLinkActive]="['active']" *ngIf="this.token.getRole() === 'Superadmin'"><a [routerLink]="['/product']"
        (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">cached</mat-icon> Product Management
      </a></li>
    <li [routerLinkActive]="['active']" *ngIf="this.token.getRole() === 'Superadmin'"><a [routerLink]="['/banner']"
        (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">bookmark_border</mat-icon> Banner Management
      </a></li>
    <li [routerLinkActive]="['active']" *ngIf="this.token.getRole() === 'Superadmin'"><a [routerLink]="['/price']"
        (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">attach_money</mat-icon> Price Management
      </a></li>
    <!-- <li><a [routerLinkActive]="['active']" [routerLink]="['/revenue']">
        <mat-icon matPrefix class="mr-1 icons">file_copy</mat-icon>Revenue Report
      </a></li> -->
    <li [routerLinkActive]="['active']" *ngIf="this.token.getRole() !=='Verifier'"><a [routerLink]="['/sms']"
        (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">textsms</mat-icon>Send SMS
      </a></li>
    <li [routerLinkActive]="['active']" *ngIf="this.token.getRole() !=='Verifier'"><a [routerLink]="['/setting']"
        (click)="closeNavBar()">
        <mat-icon matPrefix class="mr-1 icons">settings</mat-icon>User Account
      </a></li>
  </ul>
</section>
