@import '~sass/styles.scss';

// .sidebar_wrapper {
//   top: 0;
//   left: 0;
//   z-index: 999;

// }

.sidenav {
  background: $th_theme_white;
  // @include box-shadow(1px 2px 9px 0px #4646462b);
  height: auto;
  margin: 0;
  // min-height: 100vh;

  li {
    @include display-flex(block);
    margin: 0;
    padding: 4px 0;
    position: relative;
    width: 100%;

    a {
      font-size: 16px;
      padding: 10px 20px;
      @include display-flex(block);
      color: $th_theme_text;
      text-decoration: none;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 35px !important;
      //   border-left: 4px solid $th_theme_white;

      &:hover {
        background: #F9F9F9;
        // border-left: 4px solid #F9F9F9;
        transition: .1s ease-in;
      }

      .icons {
        font-size: 18px;
        padding: 4px;
        width: 24px;
        height: 24px;
        text-align: center;
        @include display-flex(inline-block);
        position: relative;
        bottom: -2px;
      }
    }
  }

}

.active {
  border-left: 4px solid $th_theme_purple !important;
  background: #daddfc;
  ;
  width: 100%;
  // color: $th_theme_purple !important;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

//media query

@media only screen and (max-width: 1366px) {
  .sidenav {
    // height: 100vh;
    // min-height: 100vh;
    overflow: visible;

    li {
      padding: 0;

      a {
        font-size: 16px;
        padding: 8px 5px;
        font-weight: 400;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 35px !important;

        .icons {
          font-size: 18px;
          padding: 4px;
          width: 24px;
          height: 24px;
          text-align: center;
          @include display-flex(inline-block);
          position: relative;
          bottom: -2px;
        }
      }
    }

  }


}

@media only screen and (max-width: 1024px) {
  .sidenav {
    li {
      a {
        padding: 10px 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 15px !important;
      }
    }

  }

}

@media only screen and (max-width: 768px) {
  .sidenav {
    // height: 125vh;
    overflow-y: scroll;
    background: #e8e8e8;

    li {
      a {
        font-size: 14px;
        padding: 10px;
        border-left: 4px solid #e8e8e8;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 15px !important;

        .icons {
          font-size: 16px;
        }
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .sidenav {
    // height: 150vh;
  }
}

.sidebar_logo {
  background: $th_theme_purple;
  padding: 10px 15px;
  // width: 255px;
  height: 57px;
  max-width: 100%;

  .logo {
    text-decoration: none;
    width: 300px;

    img {
      max-width: 100%;
      width: 100px;
    }
  }
}

.logo {
  span {
    font-size: 18px;
    color: $th_theme_white;
    font-weight: 500;
    text-align: center;
    display: block;
  }
}
