@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius; 
}
@mixin display-flex($flex) {
    -webkit-display: $flex;
    -moz-display: $flex;
    -ms-display: $flex;
    -o-display: $flex;
    display: $flex; 
} 
@mixin display-flex($inline-block) {
    -webkit-display: $inline-block;
    -moz-display: $inline-block;
    -ms-display: $inline-block;
    -o-display: $inline-block;
    display: $inline-block; 
} 

