@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './mixins';
@import './variables';
@import '~saturn-datepicker/bundle.css';

html,
body {
  height: auto;
  outline: 0;
  background: #F3F7FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ::-webkit-scrollbar {
// 	display: none;
// }

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  color: $th_theme_text;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $th_theme_text;
}

textarea {
  min-height: 36px !important;
}

.actions_icons {
  font-size: 14px;
  color: $th_theme_text;
  text-decoration: none;

  .icons {
    font-size: 16px;
    padding: 4px;
    width: 24px;
    height: 26px;
    text-align: center;
    @include display-flex(inline-block);
    position: relative;
    bottom: -2px;
  }
}

::selection {
  background-color: #222;
  color: $th_theme_white;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

//  ::-webkit-scrollbar-track {
// 	@include box-shadow(inset 0 0 5px $th_theme_grey);
// }
::-webkit-scrollbar-thumb {
  background: #cdcdcd;
}

::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}

.navbar {
  padding: 0;
}

app-sidebar {
  position: sticky;
  position: fixed;
  width: 255px;
  height: 100vh;
  background: $th_theme_white;
  margin-top: 55px;
  z-index: 9;

  &.show-sidebar {
    transform: translateX(-100%);
    box-shadow: unset;
  }
}

.main_content {
  width: 85%;
  float: right;
  padding: 20px;
  margin-top: 55px;
  background: #F3F7FA;

  &.show-100 {
    width: 100%;
  }
}

app-header {
  width: 100%;
  position: fixed;
  z-index: 999;
  right: 0;
}

app-footer {
  width: 100%;
  background: #f3f7fa;
  bottom: 9px;
  position: fixed;
  right: 0;
}

// .btn {
// 	font-size: 14px;
// 	cursor: pointer;
// 	outline: 0;
// 	border: none;
// 	@include display-flex(inline-block);
// 	white-space: nowrap;
// 	vertical-align: baseline;
// 	text-align: center;
// 	margin: 0;
// 	min-width: 64px;
// 	line-height: 36px;
// 	padding: 0 16px;
// 	@include border-radius(4px);
// 	overflow: visible;
// 	&:hover {
// 		text-decoration: none;
// 		color: $th_theme_white;
// 		transition: 0.3s;
// 	}
// }

.add_btn {
  background: $th_theme_text;
  color: #fff !important;
  border: 1px solid $th_theme_text;
  font-size: 14px;
  padding: 10px 12px;
}

.table_view {
  width: 100%;
  margin: unset;

  thead {
    background: #dadada;
  }

  th {
    color: $th_theme_text;
    font-weight: 500;
    top: -1px !important;
    font-size: 14px;
    border-bottom-width: 0;
  }

  th,
  td {
    padding: 0 15px;
  }
}

.align_input {
  .mat-form-field-flex {
    padding: 4px 12px !important;
    border-radius: 5px;
  }
}

.page_content_wrapper {
  h1 {
    font-size: 20px;
  }

  .breadcrumb {
    background: transparent;

    .breadcrumb-item {
      &::before {
        padding: 0 5px;
      }
    }

    li {
      font-size: 14px;
      padding: 0;

      &:nth-child(2) {
        a {
          color: $th_theme_text;
          text-decoration: none;
        }
      }

      .icons {
        font-size: 16px;
        color: $th_theme_text;
        margin: 0 !important;
        padding: 2px;
      }
    }
  }
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  outline: none;
}

.page_content_modal {
  border-bottom: 1px solid #e2e2e2;

  h1 {
    font-size: 20px;
  }

  button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #424242;
    @include display-flex(inline-block);
    background: $th_theme_white;
    @include border-radius(50%);
    width: 35px;
    height: 35px;
    border: 0;

    &:hover {
      background: $th_theme_white;
      color: $th_theme_grey;
      border: 0;
    }

    mat-icon {
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.accurate_main_area {
  .sub_title {
    color: $th_theme_text;
    font-weight: 500;
  }
}

.form_filed {
  width: 100%;
}

.form_btn {
  button {
    font-size: 14px;
    background: $th_theme_purple;
    color: $th_theme_white;
    font-weight: 500;

    &:hover {
      background: $th_theme_purple;
      color: $th_theme_white;
    }
  }

  .cancel_btn {
    background: $th_theme_purple;
    color: $th_theme_white;
    margin-left: 15px;

    &:hover {
      background: $th_theme_purple;
      color: $th_theme_white;
    }
  }
}

.process_btn {
  button {
    font-size: 14px;
    background: $th_theme_text;
    color: $th_theme_white;
    font-weight: 500;

    &:hover {
      text-decoration: none;
      background: $th_theme_text;
      color: $th_theme_white;
      transition: 0.3s;
    }
  }
}

.mat-form-field-appearance-outline {
  .mat-form-field-prefix {
    top: 0 !important;
  }
}

.mat-tab-group {
  &.mat-primary {
    .mat-ink-bar {
      background-color: $th_theme_purple;
    }
  }
}

.mat-select,
.mat-option-text {
  font-size: 14px;
}

.no_data_msg {
  text-align: center;
  background: #f2f2f2;
  padding: 16px 0;
}

// .mat-form-field-wrapper {
// 	padding: 0;
// }
//input styles
.dealer_form_page {
  .form_sec {
    height: 300px;
    overflow-y: auto;
  }

}

.form_sec {
  label {
    color: $th_theme_text;
    font-size: 14px;
  }

  input {
    font-size: 14px;
  }

  .mat-icon {
    color: $th_theme_text;
  }

  h5 {
    font-size: 18px;
  }

  .mat-form-field-appearance-fill {
    .mat-form-field-flex {
      background-color: $th_theme_white;
      border: 1px solid #ccc5c5;
      @include border-radius(5px);
      padding: 12px;
    }

    .mat-select-arrow-wrapper {
      transform: translateY(0%);
    }
  }

  .mat-form-field-invalid {
    .mat-form-field-flex {
      border: 1px solid #f44336 !important;
    }
  }

  .mat-form-field-infix {
    padding: unset;
    border: 0;
  }

  .mat-form-field-underline {
    position: absolute;
    width: unset;
  }

  &.login_form {
    .mat-form-field-label-wrapper {
      top: -10px;
    }

    .mat-form-field-appearance-fill {
      .mat-form-field-flex {
        background-color: #F9F9F9;
        border: 1px solid #F9F9F9;
        @include border-radius(0);
        padding: 12px;
      }
    }
  }

  .search {
    input {
      font-size: 14px;
      padding-top: 5px;
    }

    .mat-icon {
      color: $th_theme_grey;
      font-size: 24px;
    }

    .mat-form-field-wrapper {
      padding: 0;
    }

    .mat-form-field-flex {
      @include border-radius(5px);
      padding: 9px 12px !important;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    mat-icon {
      color: $th_theme_grey;
      font-size: 24px;
    }
  }

  &.report {
    .form-group:nth-child(1) {
      .mat-form-field-flex {
        padding: 2px 12px;
      }

      .mat-form-field-infix {
        top: -5px;
      }
    }

    .mat-select,
    .mat-option-text {
      font-size: 14px;
    }
  }

  .modify_input {
    font-size: 14px;

    .mat-form-field-flex {
      padding: 7px 12px;
    }

    // .mat-form-field-infix {
    // 	top: -5px;
    // }
  }
}

.mat-dialog-container {
  position: relative;
}

.mat-radio-button .mat-radio-outer-circle {
  &:focus {
    background-color: $th_theme_purple;
  }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $th_theme_purple;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $th_theme_purple;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(149, 126, 245, 0.66);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $th_theme_purple;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $th_theme_purple;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $th_theme_purple;
}

.align_right {
  float: right;
}

.read_only {
  color: #a9a9a9;
  font-weight: 300;
}

.proof_img {
  img {
    max-width: 100%;
    width: 80px;
    max-height: 100px;
    height: 45px;
    object-fit: cover;
    object-position: center;
  }
}

.open {
  color: #4c9217;
  font-weight: 400;
}

.closed {
  color: #FE5D70;
  font-weight: 400;
}

.inprogress {
  color: #2DCEE3;
  font-weight: 400;
}

.qr_code_data {
  .qr_yes {
    color: #4c9217;
    font-weight: 400;
  }

  .qr_no {
    color: #FE5D70;
    font-weight: 400;
  }
}

.date_select {
  cursor: pointer;
}

.align_icon {
  padding: 0 7px !important;
}

.mat-form-field-appearance-fill {
  .mat-form-field-subscript-wrapper {
    position: unset;
    overflow: unset;
  }
}

.search {
  padding-top: 8px !important;
}

.filter_section {
  width: 100%;
}


.filter_sec {
  .mat-expansion-panel-body {
    padding: 24px 16px 0 16px;
  }
}

app-list-customer {
  .filter_sec {
    .mat-expansion-panel-body {
      padding: 24px 16px 24px 16px;
    }
  }
}

.dialog_form_page {
  .form_sec {
    .mat-form-field-wrapper {
      padding: 0 !important;
    }
  }
}

.filter_area_sec {
  width: 100%;
  display: flex;

  .filter_filed {
    margin-right: 5px;
  }

  .mat-form-field-infix {
    width: 220px !important;
  }

  .align_block {
    display: flex;
    align-items: center;

    .form_btn {
      display: flex;
    }
  }

  .search_block_end {
    display: flex;
    //  justify-content:end;
    align-items: center;
  }
}

input {
  &.search {
    padding: 10px;
  }
}

.mat-error {
  font-size: 14px;
}

.req {
  color: #f44336;
}

// Media query

@media only screen and (min-width: 1440px) {
  .dialog_form_page {
    .form_sec {
      //   max-height: 100vh;

      // overflow-y: auto;
      &.lg_modal {
        // height: 100vh;
      }
    }
  }

  .scroll {
    // height: calc(100vh - 260px);
    overflow: auto;

    table {
      margin: unset;

      tr {
        &.mat-header-row {
          height: 56px;
        }

        &.mat-row {
          height: 48px;
        }
      }
    }
  }

  .scroll.expand {
    // height: calc(100vh - 380px);
  }

}

@media only screen and (max-width: 1366px) {
  app-sidebar {
    width: 255px;
    overflow: auto;
    height: 100%;
  }

  app-header {
    width: 100%;
    z-index: 99;
  }

  app-ormooter {
    width: 80%;
  }

  .main_content {
    width: 80%;
    float: right;
    padding: 20px;
    margin-top: 55px;
  }

  .scroll {
    // height: calc(100vh - 260px);
    overflow: auto;

    table {
      margin: unset;

      tr {
        &.mat-header-row {
          height: 37px;
        }

        &.mat-row {
          height: 37px;
        }
      }
    }
  }

  .scroll.expand {
    // height: calc(100vh - 380px);
  }

  .dialog_form_page {
    .form_sec {
      max-height: 100vh;
      //   overflow-y: auto;

      &.lg_modal {
        max-height: 80vh;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  app-sidebar {
    // width: 25%;
    height: 115vh;
  }

  app-header {
    width: 100%;
    z-index: 99;
  }

  app-footer {
    width: 75%;
  }

  .main_content {
    width: 75%;
    float: right;
    padding: 30px;
    margin-top: 60px;
  }

  .dialog_form_page {
    .form_sec {
      max-height: 100vh;
      overflow-y: auto;
    }
  }
}

@media only screen and (max-width: 768px) {
  app-sidebar {
    transform: translateX(0%);
    width: 40%;
    z-index: 9999;
    overflow-y: scroll;
    box-shadow: 1px 1px 13px 1px #19191917;
  }

  app-header {
    width: 100%;
    z-index: 99;
  }

  app-footer {
    width: 100%;
    text-align: center;
    z-index: 9999;
  }

  .main_content {
    width: 100%;
  }

  .table_view {
    width: 100%;

    td {
      padding: 0 12px;
    }
  }

  .mat-form-field-wrapper {
    padding: unset;
  }

  .main_content {
    background: #F3F7FA;

    &.show-100 {
      width: 100%;
    }
  }

  .dialog_form_page {
    .form_sec {
      max-height: 100vh;
      overflow-y: auto;
    }
  }

  .accurate_main_area {
    .sub_title {
      display: none;
    }
  }

  .page_content_wrapper {
    h1 {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  app-sidebar {
    width: 75%;
    box-shadow: -1px 16px 12px 7px #b0abc7;
    width: 76%;
    z-index: 9999;
    transition: all 0.2s ease-in-out;
  }

  app-header {
    width: 100%;
  }

  app-footer {
    width: 100%;
    z-index: 9999;
  }

  .dialog_form_page {
    .form_sec {
      max-height: calc(100vh - 150px);
    }
  }

  .form_sec {
    flex-wrap: wrap;
  }

  .main_content {
    padding: 10px;
  }

  .add_btn {
    background: $th_theme_text;
    color: $th_theme_white !important;
    border: 1px solid $th_theme_text;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 8px;
    align-items: center;

    &.edit {
      padding: 0;
    }
  }

  .dialog_form_page {
    .form_sec {
      // height: 300px;
      overflow-y: auto;
    }
  }

  .filter_sec {
    .mat-expansion-panel-body {
      padding: 24px 16px;
    }
  }

}

.dialog_form_page {
  display: inline-block;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 100%;
  height: 100%;
  max-height: 70vh;
}
section.accurate_main_area{
  margin-bottom:30px;
}