<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">Report Management</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item active" aria-current="page">Report Management</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="accurate_main_area">
    <mat-card>
      <div class="d-flex justify-content-between align-items-center form_sec">
        <button mat-icon-button (click)="toggle()">
          <mat-icon>filter_list</mat-icon>
        </button>
        <mat-form-field appearance="fill" class="search">
          <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter()" placeholder="Search"
            autocomplete="off">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <mat-accordion class="filter_sec">
        <mat-expansion-panel [expanded]="panelOpenState">
          <form [formGroup]="reportForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec report">
            <div class="d-flex report_filed">
              <div class="form-group">
                <label>Date Range<span class="req">*</span></label>
                <mat-form-field appearance="fill" class="date_select form_filed" (click)="picker5.open()">
                  <input matInput placeholder="Choose a date" class="date_select" [readonly]="true"
                    formControlName="date" [satDatepicker]="picker5">
                  <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
                  <sat-datepicker #picker5 [rangeMode]="true">
                  </sat-datepicker>
                  <mat-error *ngIf="reportForm.controls['date'].errors?.required">Date Range is required </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label for="">Report type<span class="req">*</span></label>
                <mat-form-field appearance="fill" class="form_filed">
                  <mat-select formControlName="reportType">
                    <!-- <mat-option value="" disabled>Select Report type</mat-option> -->
                    <mat-option value="Service" selected>Service</mat-option>
                    <mat-option value="Stamping">Stamping</mat-option>
                  </mat-select>
                  <mat-error *ngIf="reportForm.controls['reportType'].errors?.required">Report Type is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label for="">City</label>
                <mat-form-field appearance="fill" class="form_filed">
                  <mat-select formControlName="city_id" (selectionChange)="getDealersID($event.value)">
                    <input matInput placeholder="Search" (keyup)="search_city($event.target.value)"
                      (keydown)="$event.stopPropagation()" class="search" formControlName="city_input">
                    <mat-option value="" selected>All</mat-option>
                    <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label for="">Dealer ID</label>
                <mat-form-field appearance="fill" class="form_filed">
                  <mat-select formControlName="dealer_id" (selectionChange)="getCustomers($event.value)">
                    <input matInput placeholder="Search" (keyup)="search_dealer($event.target.value)"
                      (keydown)="$event.stopPropagation()" class="search" formControlName="dealer_input">
                    <mat-option value="" selected>All</mat-option>
                    <mat-option *ngFor="let dealer of dealers" [value]="dealer?.dealer?.id">{{dealer.uuid}} -
                      {{dealer.full_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label for="">Customer ID</label>
                <mat-form-field appearance="fill" class="form_filed">
                  <mat-select formControlName="customer_id">
                    <input matInput placeholder="Search" (keyup)="search_customer($event.target.value)"
                      (keydown)="$event.stopPropagation()" class="search" formControlName="customer_input">
                    <mat-option value="" selected>All</mat-option>
                    <mat-option *ngFor="let customer of customers" [value]="customer?.customer?.id">{{customer.uuid}} -
                      {{customer.full_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-group ">
                <label for="">SI Circle</label>
                <mat-form-field appearance="fill" class="form_filed">
                  <mat-select formControlName="si_circle">
                    <input matInput placeholder="Search" (keyup)="search_si($event.target.value)"
                      (keydown)="$event.stopPropagation()" class="search" formControlName="si_input">
                    <mat-option value="" selected>All</mat-option>
                    <mat-option *ngFor="let si_circle of si_circleList" [value]="si_circle">{{si_circle}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-group " *ngIf="reportForm.value.reportType === 'Service'">
                <label for="">Service Type</label>
                <mat-form-field appearance="fill" class="form_filed">
                  <mat-select formControlName="service_type">
                    <input matInput placeholder="Search" (keyup)="search_service($event.target.value)"
                      (keydown)="$event.stopPropagation()" class="search"  formControlName="service_input">
                    <mat-option value="" selected>All</mat-option>
                    <mat-option *ngFor="let type of service_list" [value]="type.id">{{type.type_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group ">
                <label for="">Model</label>
                <mat-form-field appearance="fill" class="form_filed">
                  <mat-select formControlName="mac_model">
                    <input matInput placeholder="Search" (keyup)="search_model($event.target.value)"
                      (keydown)="$event.stopPropagation()" class="search" formControlName="model_input">
                    <mat-option value="" selected>All</mat-option>
                    <mat-option *ngFor="let model of models" [value]="model">{{model}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="d-flex justify-content-center align-items-center form_btn">
                <button mat-raised-button type="submit" class="btn mr-1">Filter</button>
                <button mat-raised-button (click)="clear()" class="btn">Clear</button>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-end form_btn">
                    <button mat-raised-button type="submit" class="btn">Filter</button>
                  </div> -->
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-card-content class="mt-2">
        <div class="d-flex justify-content-between align-items-center">
          <div class="form_sec" *ngIf="reports">
            <mat-card-subtitle class="sub_title mr-auto">{{reportType}} Report</mat-card-subtitle>
          </div>
          <div class="download_btn" *ngIf="dataSource?.filteredData.length > 0">
            <button mat-raised-button class="btn" (click)="exportExcel()">Export</button>
            <button mat-raised-button class="btn" (click)="convertPDF()">Pdf</button>
          </div>
        </div>

        <div class="mt-2">
          <div [ngClass]="{'expand' : panelOpenState}" infiniteScroll [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50" [scrollWindow]="false" class="scroll table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 table_view table-bordered table-striped"
              id="exportable">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> S.No </th>
                <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
              </ng-container>
              <ng-container matColumnDef="user.uuid">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element?.user?.uuid}} </td>
              </ng-container>
              <ng-container matColumnDef="user.full_name">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let element"> {{element?.user?.full_name}} </td>
              </ng-container>
              <ng-container matColumnDef="user.username">
                <th mat-header-cell *matHeaderCellDef> Mobile No </th>
                <td mat-cell *matCellDef="let element"> {{element?.user?.username}} </td>
              </ng-container>
              <ng-container matColumnDef="customer.city.name">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let element"> {{element?.customer?.city.name}} </td>
              </ng-container>
              <ng-container matColumnDef="machine.mac_model">
                <th mat-header-cell *matHeaderCellDef> Model </th>
                <td mat-cell *matCellDef="let element"> {{element?.machine?.mac_model || '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="service_type.type_name">
                <th mat-header-cell *matHeaderCellDef> Service Type </th>
                <td mat-cell *matCellDef="let element"> {{element?.service_type?.type_name || '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="service_cost">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element?.service_cost || '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="stamping_cost">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element?.stamping_cost || '---'}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element" [class.open]="element.status === 'Open'"
                  [class.closed]="element.status !== 'Open' && element.status !== 'In-progress'"
                  [class.inprogress]="element.status === 'In-progress'">
                  {{element?.status || '---'}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <ng-container *ngIf="dataSource?.filteredData.length == 0">
            <div class="no_data_msg">No Data Avaliable</div>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
