@import '~sass/styles.scss';

.mat-form-field-flex {
    padding: 1px 12px;
}

th.mat-sort-header-sorted {
    color: $th_theme_black;
}



.download_btn {
    button {
        border: 1px solid $th_theme_purple;
        background: $th_theme_white;
        color: #525252;
        margin-left: 10px;
    }

}


.report {
    .report_filed {
        flex-wrap: wrap;

        .form-group {
            width: calc(95% / 4);
            margin-right: 15px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .report {
        .report_filed {
            flex-wrap: wrap;

            .form-group {
                width: calc(95% / 5);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .report {
        .report_filed {
            flex-wrap: wrap;

            .form-group {
                width: calc(95% / 2);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .report {
        .report_filed {
            flex-wrap: wrap;

            .form-group {
                margin: unset;
                width: 100%;
            }
        }
    }
}