@import '~sass/styles.scss';

.charts {

  // padding: 0;
  &:nth-child(2) {
    padding-left: 10px;
  }
}

.card_section {
  flex-wrap: wrap;
  justify-content: space-between;

  .update_card {
    max-width: 100%;
    width: 308px;
    margin: 0 0 10px 0px;
    width: calc(95% / 5);

    span {
      font-size: 24px;
      color: #7f63f4;
      font-weight: 600;
    }

    .card_sec {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: baseline;

      h3 {
        font-size: 14px;
        padding-right: 5px;
        color: #898989;
      }

      .icon {
        background: #DADDFC;
        text-align: center;
        width: 50px;
        height: 50px;
        display: inline-block;
        position: relative;
        max-width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        color: #7F63F4;
        font-size: 28px;
        width: 24px;
      }

    }
  }
}

.bio_chart {
  height: 400px;
  max-width: 100%;
  width: 100%;
}

.line_chart {
  height: 400px;
  width: 100%;
}


// @media only screen and (min-width: 1366px) {
//     .charts{
//         // padding: 0;
//         &:nth-child(2){
//             padding-left: 0;
//         }
//     }
//     .card_section{
//         .update_card{
//             width: 198px;
//             margin: 0 10px 10px 0;
//             &:last-child{
//                 margin: 0 0 10px 0;
//             }
//         span{
//             font-size: 18px;
//         }
//         h3{
//             font-size: 14px;
//             color:#898989;
//             }
//             .icons{
//                 width: 45px;
//                 height: 45px;
//                 img{
//                     margin-top: 25px;
//                     width:30px;
//                 }
//     }
//         }
//     }
// tspan{
//     font-size: 16px;
// }
// .main_content{
//     &.show-100{
//         .card_section {
//             .update_card {
//                 width: 253px;
//             }
//         } 
//     }
// }
// }




// @media only screen and (max-width: 1280px) {
//     .card_section{
//         .update_card{
//             width: 184px;
//             margin: 0 10px 10px 0;
//             &:last-child{
//                 margin: 0 0 10px 0;
//             }
//         span{
//             font-size: 18px;
//         }
//         h3{
//             font-size: 14px;
//             color:#898989;
//             }
//             .icons{
//                 width: 45px;
//                 height: 45px;
//                 img{
//                     margin-top: 25px;
//                     width:30px;
//                 }
//     }
//         }
//     }
//     .main_content{
//         &.show-100{
//             .card_section {
//                 .update_card {
//                     width: 235px;
//                 }
//             } 
//         }
//     }
// }

// @media (max-width: 991px){
//     .card_section {
//         .update_card {
//             width: 264px;
//             margin: 0 10px 10px 0px;
//             &:last-child{
//                 margin: 0 0 10px 0;
//             }
//         }
//     }
//     .main_content{
//         &.show-100{
//             .card_section {
//                 .update_card {
//                     width: 344px;
//                     margin: 0 10px 10px 0px;
//                     &:last-child{
//                         margin: 0 0 10px 0;
//                     }
//                 }
//             } 
//         }
//     }

//     .charts{
//         &:nth-child(2){
//             padding-left: unset;
//         }
//     }
// }

// @media only screen and (min-width: 1600px){
//     .card_section {
//         .update_card {
//             width: 341px;
//             margin: 0 10px 10px 0;
//             &:last-child{
//                 margin: 0 0 10px 0;
//             }
//         }
//     }
//     .main_content{
//         &.show-100{
//             .card_section {
//                 .update_card {
//                     width: 432px;
//                     margin: 0 10px 10px 0px;
//                     &:last-child{
//                         margin: 0 0 10px 0;
//                     }
//                 }
//             } 
//         }
//     }

// }


@media only screen and (max-width: 1366px) {
  .charts {
    &:nth-child(2) {
      padding-left: 0;
    }
  }

  .card_section {
    justify-content: space-between;

    .update_card {
      margin: 0px 10px 10px 0;
      width: calc(95% / 5);

      &:last-child {
        margin: 0 0 10px 0;
      }

      span {
        font-size: 24px;
        color: #7f63f4;
        font-weight: 600;
      }

      h3 {
        font-size: 14px;
        color: #898989;
      }


      // width: 45px;
      // height: 45px;

      img {
        width: 30px;
      }

    }
  }

  tspan {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .card_section {
    justify-content: unset;

    .update_card {
      margin: 0px 10px 10px 0;
      width: calc(95% / 3);

      &:last-child {
        margin: 0 0 10px 0;
      }

      span {
        font-size: 24px;
        color: #7f63f4;
        font-weight: 600;
      }

      h3 {
        font-size: 14px;
        color: #898989;
      }



      img {
        width: 30px;
      }

    }
  }

}

@media only screen and (max-width: 768px) {
  .card_section {
    justify-content: unset;

    .update_card {
      margin: 0px 10px 10px 0;
      width: calc(95% / 2);

      &:last-child {
        margin: 0 0 10px 0;
      }
    }
  }


  .charts:nth-child(2) {
    padding-left: unset;

  }


}

@media only screen and (max-width: 600px) {
  .card_section {
    justify-content: unset;

    .update_card {
      margin: 0px 0 10px 0;
      width: calc(100% /1);

      &:last-child {
        margin: 0 0 10px 0;
      }
    }
  }

  .charts {
    &:nth-child(2) {
      margin: 10px 0;
      padding: 0;
      padding-left: 0;
    }
  }

}

.card_section .update_card mat-form-field {
  width: 165px;
}
