<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="m-0">Dashbord</h1>
      <nav aria-label="breadcrumb">
        <!-- <ol class="breadcrumb m-0 p-0">
        <li class="breadcrumb-item"><a href="#">
            <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
          </a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin Management</li>
      </ol> -->
      </nav>
    </div>
  </section>
  <div class="d-flex card_section">
    <mat-card class="update_card">
      <mat-card-content>
        <mat-form-field class="date_select" (click)="picker.open()">
          <input matInput placeholder="Choose a date" class="date_select" [readonly]="true" [(ngModel)]="stamps"
            [satDatepicker]="picker" [max]="maxDate" (dateChange)="stamping($event.value)">
          <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
          <sat-datepicker #picker [rangeMode]="true">
          </sat-datepicker>
        </mat-form-field>
        <div class="card_sec">
          <h3>Total Stamping Collected</h3>
          <span>{{analytics?.total_stamping || 0}}</span>
          <div class="icon">
            <img src="../../../assets/dashboard/icon1.png" alt="growth">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="update_card">
      <mat-card-content>
        <mat-form-field class="date_select" (click)="picker1.open()">
          <input matInput placeholder="Choose a date" class="date_select" [readonly]="true" [(ngModel)]="renewals"
            [satDatepicker]="picker1" (dateChange)="renewal($event.value)">
          <sat-datepicker-toggle matSuffix [for]="picker1"></sat-datepicker-toggle>
          <sat-datepicker #picker1 [rangeMode]="true">
          </sat-datepicker>
        </mat-form-field>

        <div class="card_sec">
          <h3>Upcoming Renewal (Next 10 days)</h3>
          <span>{{analytics?.upcoming_renewal || 0}}</span>
          <div class="icon">
            <img src="../../../assets/dashboard/icon2.png" alt="growth">
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="update_card">
      <mat-card-content>
        <mat-form-field class="date_select" (click)="picker2.open()">
          <input matInput placeholder="Choose a date" class="date_select" [readonly]="true" [(ngModel)]="machines"
            [satDatepicker]="picker2" [max]="maxDate" (dateChange)="machine($event.value)">
          <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
          <sat-datepicker #picker2 [rangeMode]="true">
          </sat-datepicker>
        </mat-form-field>

        <div class="card_sec">
          <h3>Total Machines</h3>
          <span>{{analytics?.total_machines || 0}}</span>
          <div class="icon">
            <img src="../../../assets/dashboard/icon3.png" alt="growth">
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="update_card">
      <mat-card-content>
        <mat-form-field class="date_select" (click)="picker3.open()">
          <input matInput placeholder="Choose a date" class="date_select" [readonly]="true" [(ngModel)]="customers"
            [satDatepicker]="picker3" [max]="maxDate" (dateChange)="customer($event.value)">
          <sat-datepicker-toggle matSuffix [for]="picker3"></sat-datepicker-toggle>
          <sat-datepicker #picker3 [rangeMode]="true">
          </sat-datepicker>
        </mat-form-field>

        <div class="card_sec">
          <h3>Total Customers</h3>
          <span>{{analytics?.total_customers || 0}}</span>
          <div class="icon">
            <img src="../../../assets/dashboard/icon4.png" alt="growth">
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="update_card">
      <mat-card-content>
        <mat-form-field class="date_select" (click)="picker4.open()">
          <input matInput placeholder="Choose a date" class="date_select" [readonly]="true" [(ngModel)]="dealers"
            [satDatepicker]="picker4" [max]="maxDate" (dateChange)="dealer($event.value)">
          <sat-datepicker-toggle matSuffix [for]="picker4"></sat-datepicker-toggle>
          <sat-datepicker #picker4 [rangeMode]="true">
          </sat-datepicker>
        </mat-form-field>

        <div class="card_sec">
          <h3>Total Dealers</h3>
          <span>{{analytics?.total_dealers || 0 }}</span>
          <div class="icon">
            <img src="../../../assets/dashboard/icon5.png" alt="growth">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Customers Analytics -->
  <div class="row">
    <div class="col-lg-4 col-md-4 charts">
      <mat-card>
        <mat-card-content>
          <mat-form-field class="date_select" (click)="picker5.open()">
            <input matInput placeholder="Choose a date" class="date_select" [readonly]="true"
              [(ngModel)]="customer_analytic" [satDatepicker]="picker5" [max]="maxDate"
              (dateChange)="cus_analytics($event.value)">
            <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
            <sat-datepicker #picker5 [rangeMode]="true">
            </sat-datepicker>
          </mat-form-field>
          <highcharts-chart [Highcharts]="Highcharts" [options]="customerChart" *ngIf="analytics"
            style="width: 100%;height: 250px; display: block;">
          </highcharts-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Service status Analytics -->

    <div class="col-lg-8 col-md-8 charts">
      <mat-card>
        <mat-card-content>
          <mat-form-field class="date_select" (click)="picker6.open()">
            <input matInput placeholder="Choose a date" class="date_select" [readonly]="true"
              [(ngModel)]="service_analytic" [satDatepicker]="picker6" [max]="maxDate"
              (dateChange)="service_analytics($event.value)">
            <sat-datepicker-toggle matSuffix [for]="picker6"></sat-datepicker-toggle>
            <sat-datepicker #picker6 [rangeMode]="true">
            </sat-datepicker>
          </mat-form-field>
          <highcharts-chart [Highcharts]="Highcharts" [options]="serviceChart" *ngIf="service"
            style="width: 100%;height: 250px; display: block;">
          </highcharts-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
