@import '~sass/styles.scss';

th.mat-sort-header-sorted {
    color: $th_theme_black;
  }



.filter_area_sec{
  .align_input {
.mat-form-field-flex {
    padding: 2px 12px !important;
}
}
}