<section class="page_content_modal mb-3 pb-3">
  <h1 class="m-0">New Machine Requirement</h1>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</section>
<div class="dialog_form_page">
  <form [formGroup]="reqForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec lg_modal">
    <div *ngIf="!value.new">
      <h5 class="mb-3">Customer Info</h5>

      <div class="form-row">
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Customer ID</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Customer ID" value="{{value.edit_service.user.uuid}}" [readonly]="true">
          </mat-form-field>
        </div>

        <div class="form-group col-lg-3 col-md-6">
          <label for="">Customer Name</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Customer name" value="{{value.edit_service.user.full_name}}" [readonly]="true"
            matTooltip={{value.edit_service.user.full_name}} matTooltipPosition=above>
          </mat-form-field>
        </div>

        <div class="form-group col-lg-3 col-md-6">
          <label for="">Mobile Number</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Mobile number" value="{{value.edit_service.user.username}}" [readonly]="true">
          </mat-form-field>
        </div>

        <div class="form-group col-lg-3 col-md-6">
          <label for="">Whatsapp Number</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Whatsapp number" value="{{value.edit_service.customer.whatsapp_no}}"
              [readonly]="true">
          </mat-form-field>
        </div>
        <!-- </div>
    <div class="form-row"> -->
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Business Name</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Business Name" value="{{value.edit_service.customer.business_name}}"
              [readonly]="true" matTooltip={{value.edit_service.customer.business_name}} matTooltipPosition=above>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">State</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="State" value="{{value.edit_service.customer.state.name}}" [readonly]="true">
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">City</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="City" value="{{value.edit_service.customer.city.name}}" [readonly]="true">
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Pincode</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Pincode" value="{{value.edit_service.customer.pincode}}" [readonly]="true">
          </mat-form-field>
        </div>
        <!-- </div>
    <div class="form-row"> -->
        <div class="form-group  col-lg-3 col-md-6">
          <label for="">Dealer Name</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Dealer Name" value="{{value.edit_service.customer.dealer_name}}"
              [readonly]="true" matTooltip={{value.edit_service.customer.dealer_name}} matTooltipPosition=above>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-6 col-md-6 align_input">
          <label for="">Address</label>
          <mat-form-field appearance="fill" class="form_filed modify_input read_only pt-1">
            <textarea matInput placeholder="" value="{{value.edit_service.customer.address_line1}}"
              [readonly]="true" matTooltip={{value.edit_service.customer.address_line1}} matTooltipPosition=above></textarea>
          </mat-form-field>
        </div>
      </div>

      <h5 class="mb-3">New Machine Info</h5>
      <div class="form-row">
        <div class="form-group col-lg-3 col-md-6"
          *ngIf="this.token.getRole() !== 'Verifier' && ( value.edit_service.status !== 'Won' && value.edit_service.status !== 'Lost' )">
          <label for="">Make<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <input matInput placeholder="Make" formControlName="make" #input [value]="input.value.toUpperCase()"
              pattern="^[A-Za-z0-9]*$">
            <mat-error *ngIf="reqForm.controls['make'].errors?.required">Make is required
            </mat-error>
            <mat-error *ngIf="reqForm.controls['make'].errors?.pattern">Only Alpha Numerics are allowed.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6"
          *ngIf="this.token.getRole() === 'Verifier' ||  value.edit_service.status === 'Won' || value.edit_service.status === 'Lost'">
          <label for="">Make</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Make" value="{{value.edit_service.make}}" [readonly]="true" matTooltip={{value.edit_service.make}} matTooltipPosition=above>
          </mat-form-field>
        </div>
        <!-- <div class="form-group col-lg-3 col-md-6">
          <label for="">Capacity</label>
          <mat-form-field appearance="fill" class="form_filed">
              <mat-select formControlName="capacity_id" (selectionChange)="getAccuraciesByCapacity($event.value)">
                  <input matInput placeholder="Search" (keyup)="search_Capacity($event.target.value)"
                  (keydown)="$event.stopPropagation()" class="search">
                  <mat-option value="" selected disabled>Select Capacity</mat-option>
                  <mat-option *ngFor="let capacity of capacities" [value]="capacity.id">{{capacity.value}}</mat-option>
                </mat-select>
                <mat-error *ngIf="reqForm.controls['capacity_id'].errors?.required">Capacity is required
                </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group col-lg-3 col-md-6">
          <label for="">Accuracy</label>
          <mat-form-field appearance="fill" class="form_filed">
              <mat-select formControlName="accuracy_id" (selectionChange)="onChangeAccuracy($event.value)">
                <input matInput placeholder="Search" (keyup)="search_Accuracy($event.target.value)"
                  (keydown)="$event.stopPropagation()" class="search">
                  <mat-option value="" selected disabled>Select Accuracy</mat-option>
                  <mat-option *ngFor="let accuracy of accuracies" [value]="accuracy.id">{{accuracy.value}}</mat-option>
                </mat-select>
                <mat-error *ngIf="reqForm.controls['accuracy_id'].errors?.required">Accuracy is required
                </mat-error>
          </mat-form-field>
        </div> -->
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Capacity</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Capacity" value="{{value.edit_service.machine_class.capacity}}"
              [readonly]="true">
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Accuracy</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Accuracy" value="{{value.edit_service.machine_class.accuracy}}"
              [readonly]="true">
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Machine Class</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Machine Class" value="{{value.edit_service.machine_class.class_name}}"
              [readonly]="true">
          </mat-form-field>
        </div>

        <div class="form-group col-lg-3 col-md-6"
          *ngIf="this.token.getRole() !== 'Verifier' && ( value.edit_service.status !== 'Won' && value.edit_service.status !== 'Lost' )">
          <label for="">Status<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <mat-select formControlName="status">
              <mat-option value="" selected disabled>Select Status</mat-option>
              <mat-option value="Open">Open</mat-option>
              <mat-option value="In-progress">In-progress</mat-option>
              <mat-option value="Won">Won</mat-option>
              <mat-option value="Lost">Lost</mat-option>
            </mat-select>
            <mat-error *ngIf="reqForm.controls['status'].errors?.required">Status is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6"
          *ngIf="this.token.getRole() === 'Verifier' ||  value.edit_service.status === 'Won' || value.edit_service.status === 'Lost'">
          <label for="">Status</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Status" value="{{value.edit_service.status}}" [readonly]="true">
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6 align_input"
          *ngIf="this.token.getRole() !== 'Verifier' && ( value.edit_service.status !== 'Won' && value.edit_service.status !== 'Lost' )">
          <label for="">Expected Purchase Date<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed date_select modify_input pb-1" (click)="picker.open()">
            <input matInput [min]="minDate" [matDatepicker]="picker" (click)="picker.open()" placeholder="Date"
              formControlName="expected_purchase_date" autocomplete="off" [readonly]="true" class="date_select pb-1">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="reqForm.controls['expected_purchase_date'].errors?.required">Expected Purchase Date is
              required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6 align_input"
          *ngIf="this.token.getRole() === 'Verifier' ||  value.edit_service.status === 'Won' || value.edit_service.status === 'Lost'">
          <label for="">Expected Purchase Date</label>
          <mat-form-field appearance="fill" class="form_filed  modify_input read_only pb-1" (click)="picker.open()">
            <input matInput [min]="minDate" [matDatepicker]="picker" (click)="picker.open()" placeholder="Date"
              formControlName="expected_purchase_date" autocomplete="off" [readonly]="true" disabled class="pb-1">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-6 col-md-6 align_input"
          *ngIf="this.token.getRole() !== 'Verifier' && ( value.edit_service.status !== 'Won' && value.edit_service.status !== 'Lost' )">
          <label for="">Remarks</label>
          <mat-form-field appearance="fill" class="form_filed modify_input">
            <textarea matInput placeholder="Remarks" formControlName="requirements"></textarea>
            <!-- <mat-error *ngIf="reqForm.controls['requirements'].errors?.required">Remarks is required
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="form-group col-lg-6 col-md-6"
          *ngIf="this.token.getRole() === 'Verifier' ||  value.edit_service.status === 'Won' || value.edit_service.status === 'Lost'">
          <label for="">Remarks</label>
          <mat-form-field appearance="fill" class="form_filed modify_input read_only">
            <textarea matInput placeholder="Remarks" value="{{value.edit_service.requirements}}"
              [readonly]="true" matTooltip={{value.edit_service.requirements}} matTooltipPosition=above></textarea>
          </mat-form-field>
        </div>
      </div>  
      <div
        *ngIf="this.token.getRole() !== 'Verifier' && ( value.edit_service.status !== 'Won' && value.edit_service.status !== 'Lost') "
        class="d-flex justify-content-end form_btn">
        <button mat-raised-button type="submit" class="btn" class="align_right" [disabled]="clicked">Update</button>
        <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
      </div>
    </div>
    <div *ngIf="value.new">
      <div class="form-row">
        <div class="col-lg-3 col-md-3">
          <label for="">Customer<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <mat-select formControlName="customer_id">
              <input matInput placeholder="Search" (keyup)="search_customer($event.target.value)"
                (keydown)="$event.stopPropagation()" class="search">
              <mat-option value="" selected disabled>Select Customer</mat-option>
              <mat-option *ngFor="let customer of customers" [value]="customer?.customer?.id">{{customer.full_name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="reqForm.controls['customer_id'].errors?.required">Customer is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Make<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <input matInput placeholder="Make" formControlName="make" #input [value]="input.value.toUpperCase()"
              pattern="^[A-Za-z0-9]*$">
            <mat-error *ngIf="reqForm.controls['make'].errors?.required">Make is required
            </mat-error>
            <mat-error *ngIf="reqForm.controls['make'].errors?.pattern">Only Alpha Numerics are allowed.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Capacity<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <mat-select formControlName="capacity_id" (selectionChange)="getAccuraciesByCapacity($event.value)">
              <input matInput placeholder="Search" (keyup)="search_Capacity($event.target.value)"
                (keydown)="$event.stopPropagation()" class="search">
              <mat-option value="" selected disabled>Select Capacity</mat-option>
              <mat-option *ngFor="let capacity of capacities" [value]="capacity">{{capacity}}</mat-option>
            </mat-select>
            <mat-error *ngIf="reqForm.controls['capacity_id'].errors?.required">Capacity is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group col-lg-3 col-md-6">
          <label for="">Accuracy<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <mat-select formControlName="accuracy_id" (selectionChange)="onChangeAccuracy($event.value)">
              <input matInput placeholder="Search" (keyup)="search_Accuracy($event.target.value)"
                (keydown)="$event.stopPropagation()" class="search">
              <mat-option value="" selected disabled>Select Accuracy</mat-option>
              <mat-option *ngFor="let accuracy of accuracies" [value]="accuracy">{{accuracy}}</mat-option>
            </mat-select>
            <mat-error *ngIf="reqForm.controls['accuracy_id'].errors?.required">Accuracy is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Machine Class<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Machine Class" formControlName="machine_class_id" [readonly]="true">
            <mat-error *ngIf="reqForm.controls['machine_class_id'].errors?.required">Machine Class is required
            </mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="form-group col-lg-3 col-md-6">
          <label for="">Status</label>
          <mat-form-field appearance="fill" class="form_filed">
            <mat-select formControlName="status">
              <mat-option value="" selected disabled>Select Status</mat-option>
              <mat-option value="Open">Open</mat-option>
              <mat-option value="In-progress">In-progress</mat-option>
              <mat-option value="Won">Won</mat-option>
              <mat-option value="Lost">Lost</mat-option>
            </mat-select>
            <mat-error *ngIf="reqForm.controls['status'].errors?.required">Status is required
            </mat-error>
          </mat-form-field>
        </div> -->
        <div class="form-group col-lg-3 col-md-6 align_input">
          <label for="">Expected Purchase Date<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed date_select modify_input pb-1" (click)="picker.open()">
            <input matInput [min]="minDate" [matDatepicker]="picker" (click)="picker.open()" placeholder="Date"
              formControlName="expected_purchase_date" autocomplete="off" [readonly]="true" class="date_select pb-1">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="reqForm.controls['expected_purchase_date'].errors?.required">Expected Purchase Date is
              required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-6 col-md-6 align_input">
          <label for="">Remarks</label>
          <mat-form-field appearance="fill" class="form_filed modify_input">
            <textarea matInput placeholder="Remarks" formControlName="requirements"></textarea>
            <!-- <mat-error *ngIf="reqForm.controls['requirements'].errors?.required">Remarks is required
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-end form_btn">
        <button mat-raised-button type="submit" class="btn" class="align_right" [disabled]="clicked">Add</button>
        <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
      </div>
    </div>
  </form>
</div>
