<section id="accurate_login_block" class="login-page">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-6 d-none d-md-flex login_left">
        <div class="banner_text">
          <a href="javascript:;" class="logo">
              <span>Weighing Scaleman </span>
          </a>
            <!-- <img class="img-fluid" src="../../../assets/img/logo.svg" alt="Logo"></a> -->
          <h1>Welcome to Weighing Scaleman</h1>
          <!-- <p class="help_msg">Login to access to your account</p> -->
        </div>
      </div>
      <div class="col-md-6 login_right">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-8 mx-auto">
                <h1 class="text-center mb-4"> Forgot your password?</h1>
                <p>Enter your email address below,
                  and we will send you an email allowing you to reset it.</p>
                <form class="my-form form_sec login_form" [formGroup]="forgetForm" autocomplete="off">
                  <mat-form-field appearance="fill" class="form_filed">
                    <!-- <mat-label>Email address</mat-label> -->
                    <input matInput id="color" placeholder="Email address" formControlName="email_id"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" (keydown)="spaceNotallowed($event)"
                      class="pb-1">
                    <mat-icon matPrefix class="mr-1 icons">mail</mat-icon>
                    <mat-error *ngIf="forgetForm.controls['email_id'].errors?.required">Email is required
                    </mat-error>
                    <mat-error *ngIf="forgetForm.controls['email_id'].errors?.pattern">Please enter a valid Email
                      address
                    </mat-error>
                  </mat-form-field>
                  <button mat-raised-button color="primary" (click)="submit()"
                    class="btn btn-lg btn-block login_btn p-1" [disabled]="clicked">Get Verification code</button>
                </form>
                <br>
                <form class="my-form form_sec login_form" [formGroup]="verifyForm" autocomplete="off">
                  <mat-form-field appearance="fill" *ngIf="verifyOTP">
                    <!-- <mat-label>Verification Code</mat-label> -->
                    <input matInput placeholder="Verification Code" formControlName="verification_code">
                    <mat-icon matPrefix class="mr-1 icons">check_circle</mat-icon>
                    <mat-error *ngIf="verifyForm.controls['verification_code'].errors?.required">Verification Code is
                      required
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="form_filed" *ngIf="verifyOTP">
                    <!-- <mat-label>Password</mat-label> -->
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                      formControlName="password" autocomplete="off" (keydown)="spaceNotallowed($event)"
                      pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{5,}$">
                    <mat-icon matPrefix class="mr-1 icons">lock</mat-icon>
                    <mat-icon aria-hidden="false" matSuffix (click)="hide = !hide" class="date_select">
                      {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="verifyForm.controls['password'].errors?.required">Password is required
                    </mat-error>
                    <mat-error *ngIf="verifyForm.controls['password'].errors?.pattern">Password must meet the following
                      criteria.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="form_filed" *ngIf="verifyOTP">
                    <!-- <mat-label>Confirm Password</mat-label> -->
                    <input matInput placeholder="Confirm Password" [type]="hide1 ? 'password' : 'text'"
                      formControlName="password_confirmation" autocomplete="off" (keydown)="spaceNotallowed($event)"
                      pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{5,}$">
                    <mat-icon matPrefix class="mr-1 icons">lock</mat-icon>
                    <mat-icon aria-hidden="false" matSuffix (click)="hide1 = !hide1" class="date_select">
                      {{hide1 ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="verifyForm.controls['password_confirmation'].errors?.required">Confirm password is
                      required
                    </mat-error>
                    <mat-error *ngIf="verifyForm.controls['password_confirmation'].errors?.mustMatch">Confirm password
                      does not
                      match.
                    </mat-error>
                    <mat-error *ngIf="verifyForm.controls['password_confirmation'].errors?.pattern">Confirm password
                      must meet the following criteria.
                    </mat-error>
                  </mat-form-field>
                  <div *ngIf="verifyOTP">
                    <p class="closed">Note:</p>
                    <p>Use six or more characters with mix of uppercase, lowercase letters, numbers and special
                      characters.</p>
                  </div>
                  <button *ngIf="verifyOTP" mat-raised-button color="primary" (click)="verify()"
                    class="btn btn-lg btn-block login_btn p-1" [disabled]="clicked1">Verify</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>