@import '~sass/styles.scss';
.login {
    min-height: 100vh;
  }
  .login_left{
    background-image: url('../../../assets/login/login-bg.jpg');
    background-size: cover;
    background-position: center center;
  
  .banner_text {
      text-align: left;
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
      color: $th_theme_white;
      .logo{
          text-decoration: none;
          span{
            font-size: 28px;
            color:$th_theme_white;
            font-weight: bold;
        }
          img {
              max-width: 100%;
              width: 220px;
              margin-bottom: 20px;
          }
         }
      h1{
        color:$th_theme_white;
        font-size: 22px;
        margin-top: 24px;
        text-align: center;
      }
      p{
          font-size: 14px;
          color:$th_theme_white;
      }
    }
  }
  
  .login_right{
          h1{
              font-size: 20px;
              color: $th_theme_text;
              text-transform: capitalize;
          }
          p{
              font-size: 14px;
      line-height: 28px;
          }
      .login_form {
          @include display-flex(flex);
          flex-direction: column;
          .icons{
              font-size: 14px;
              color: $th_theme_text;
          }
          mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
              font-size: 18px;
              color: $th_theme_text;
          }
        }
        
        .login_form > * {
          width: 100%;
        }
        .login_link a{
          font-size: 14px;
          color:$th_theme_purple;
          font-weight: 500;
          &:hover{
              text-decoration: none;
              transition: .3s;
          }
      }
      .login_btn{
          font-size: 14px;
          color:$th_theme_white;
          background:$th_theme_purple;
          &:hover{
              background:$th_theme_purple;
              transition: .3s;
          }
      }
        
      }
      @media only screen and (max-width: 1366px) {

        .login_left{
            background-position: right; 
             .banner_text {
                h1{
                  font-size: 18px;
                  margin-top: 10px;
                  font-weight: 400;
                  text-align: center;
                  color:$th_theme_white;
                }
                // p{
                //     font-size: 14px;
                //     color:$th_theme_white;
                // }
              }
        }
    }
      