  <div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">Staff Management</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item active" aria-current="page">Staff Management</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="accurate_main_area">
    <mat-card>
      <div class="d-flex justify-content-end align-items-center form_sec">
        <!-- <mat-card-subtitle class="sub_title mr-auto">Staff Management</mat-card-subtitle> -->
        <a href="javascript:;" (click)="openDialog()" class="btn add_btn mr-2">Add New</a>
        <mat-form-field appearance="fill" class="search">
          <!-- <mat-label>Search</mat-label> -->
          <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter()" placeholder="Search" autocomplete="off" >
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <mat-card-content class="mt-2">
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
          [scrollWindow]="false" class="scroll table-responsive">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 table_view table-bordered table-striped">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef > S.No </th>
              <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let element"> {{element?.uuid}} </td>
            </ng-container>
            <ng-container matColumnDef="full_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element?.full_name}} </td>
            </ng-container>
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
              <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
            </ng-container>
            <ng-container matColumnDef="contact_no">
              <th mat-header-cell *matHeaderCellDef> Contact Number </th>
              <td mat-cell *matCellDef="let element"> {{element?.contact_no || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
              <td mat-cell *matCellDef="let element"> {{element?.role?.role_name || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef > Status </th>
              <td mat-cell *matCellDef="let element"><mat-slide-toggle  *ngIf="element.status === 'Active'"  [checked] = true  (change)="status($event, element.id)"></mat-slide-toggle>
                <mat-slide-toggle  *ngIf="element.status !== 'Active'"  [checked] = false  (change)="status($event, element.id)"></mat-slide-toggle></td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <a href="javascript:;" (click)="edit(element,element.id)" class="actions_icons" matTooltip="Edit">
                  <mat-icon class="mr-1 icons">edit</mat-icon>
                </a>
                <a *ngIf="this.token.getRole() === 'Superadmin'" href="javascript:;" (click)="delete(element.id)" class="actions_icons" matTooltip="Delete">
                  <mat-icon class="mr-1 icons">delete</mat-icon>
                </a>
                <a href="javascript:;" (click)="reset_pw(element, element.id)" class="actions_icons" matTooltip="Edit">
                    <!-- <mat-icon class="mr-1 icons">edit</mat-icon> -->
                    Reset Password
                  </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <ng-container *ngIf="dataSource?.filteredData.length == 0">
          <div class="no_data_msg">No Data Avaliable</div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </section>
</div>