@import '~sass/styles.scss';

  
th.mat-sort-header-sorted {
    color: $th_theme_black;
  }
    mat-icon {
    font-size: 16px;
    padding: 4px;
    width: 24px;
    height: 26px;
  }



