<section class="page_content_modal mb-3 pb-3">
    <h1 class="m-0"> Reset Password(Staff)</h1>
    <button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</section>
<div class="dialog_form_page">
    <form [formGroup]="pw_resetForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec">
        <div class="form-row">
            <div class="form-group col-lg-12 col-md-12">
                <label for="">Current User Password<span class="req">*</span></label>
                <mat-form-field appearance="fill" class="form_filed modify_input">
                    <input matInput type="password"
                        placeholder="Enter Current Logged in account password ({{token.getName()}})"
                        formControlName="current_user_password" required class="pb-1"
                        [type]="hide ? 'password' : 'text'" (keydown)="spaceNotallowed($event)">
                    <mat-icon aria-hidden="false" matSuffix (click)="hide = !hide" class="date_select">
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="pw_resetForm.controls['current_user_password'].errors?.required">Current User
                        Password is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <p>Staff Name: {{value.edit_admin.full_name}}</p>
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-6">
                <label for="">Password<span class="req">*</span></label>
                <mat-form-field appearance="fill" class="form_filed modify_input">
                    <input matInput type="password" placeholder="Password" formControlName="password" required
                        class="pb-1" [type]="hide1 ? 'password' : 'text'" (keydown)="spaceNotallowed($event)"
                        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{5,}$">
                    <mat-icon aria-hidden="false" matSuffix (click)="hide1 = !hide1" class="date_select">
                        {{hide1 ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="pw_resetForm.controls['password'].errors?.required">Password is required
                    </mat-error>
                    <mat-error *ngIf="pw_resetForm.controls['password'].errors?.pattern">Password must meet the
                        following criteria.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-lg-6 col-md-6">
                <label for="">Confirm Password<span class="req">*</span></label>
                <mat-form-field appearance="fill" class="form_filed modify_input">
                    <input matInput type="password" placeholder="Confirm password"
                        formControlName="password_confirmation" class="pb-1" required
                        [type]="hide2 ? 'password' : 'text'" (keydown)="spaceNotallowed($event)"
                        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{5,}$">
                    <mat-icon aria-hidden="false" matSuffix (click)="hide2 = !hide2" class="date_select">
                        {{hide2 ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="pw_resetForm.controls['password_confirmation'].errors?.required">Confirm Password
                        is required
                    </mat-error>
                    <mat-error *ngIf="pw_resetForm.controls['password_confirmation'].errors?.mustMatch">confirm password
                        does not
                        match.
                    </mat-error>
                    <mat-error *ngIf="pw_resetForm.controls['password_confirmation'].errors?.pattern">Confirm password
                        must meet the following criteria.
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div>
            <p class="closed">Note:</p>
            <p>Use six or more characters with mix of uppercase, lowercase letters, numbers and special characters.</p>
        </div>

        <div class="d-flex justify-content-end form_btn">
            <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Save</button>
            <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
        </div>
    </form>
</div>