<section class="page_content_modal mb-3 pb-3">
  <h1 class="m-0">Staff Management</h1>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</section>
<div class="dialog_form_page">
<form [formGroup]="adminForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec">
  <div class="form-row">
    <div class="form-group col-lg-3 col-md-6" *ngIf="editMode">
      <label for="">Staff ID</label>
      <mat-form-field appearance="fill" class="form_filed read_only">
        <input matInput placeholder="Admin Id" value="{{value.edit_admin.uuid}}" [readonly]="true">
      </mat-form-field>
    </div>
    <div class="form-group col-lg-3 col-md-6">
      <label for="">Staff Name<span class="req">*</span></label>
      <mat-form-field appearance="fill" class="form_filed">
        <input matInput placeholder="Staff name" formControlName="full_name" pattern="[A-Za-z0-9]*" required>
        <mat-error *ngIf="adminForm.controls['full_name'].errors?.required">Staff Name is required
        </mat-error>
        <mat-error *ngIf="adminForm.controls['full_name'].errors?.pattern">Please enter a valid Staff Name
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group col-lg-3 col-md-6">
      <label for="">User Name (Email ID)<span class="req">*</span></label>
      <mat-form-field appearance="fill" class="form_filed">
        <input matInput placeholder="User Name (Email Id)" formControlName="username" required 
        (keydown)="spaceNotallowed($event)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <mat-error *ngIf="adminForm.controls['username'].errors?.required">User Name is required
        </mat-error>
        <mat-error *ngIf="adminForm.controls['username'].errors?.pattern">Please enter a valid email address.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group col-lg-3 col-md-6">
      <label for="">Contact Number<span class="req">*</span></label>
      <mat-form-field appearance="fill" class="form_filed">
        <input matInput placeholder="Contact Number" formControlName="contact_no" required 
        (keydown)="spaceNotallowed($event)" pattern="[0-9]*" minlength="10" maxlength="10">
        <mat-error *ngIf="adminForm.controls['contact_no'].errors?.required">Contact Number is required
        </mat-error>
        <mat-error *ngIf="adminForm.controls['contact_no'].errors?.pattern">
          Please Enter a Valid Number
        </mat-error>
        <mat-error *ngIf="adminForm.controls['contact_no'].errors?.minlength">
          Contact Number Should be 10 digit
        </mat-error>
      </mat-form-field>
    </div>
  <!-- </div> -->
  <!-- <div class="form-row"> -->
      <div class="form-group col-lg-3 col-md-6">
      <label for="">Role<span class="req">*</span></label>
      <mat-form-field appearance="fill" class="form_filed">
        <mat-select formControlName="role_id">
          <mat-option value="" disabled selected>Select Role</mat-option>
          <mat-option *ngFor="let role of roles" [value]="role.id">{{role.role_name}}</mat-option>
          <!-- <mat-option value="Verifier">Verifier</mat-option> -->
        </mat-select>
        <mat-error *ngIf="adminForm.controls['role_id'].errors?.required">Role is required
        </mat-error>
      </mat-form-field>
      </div>
    <div class="form-group col-lg-3 col-md-6">
      <label for="">Designation</label>
      <mat-form-field appearance="fill" class="form_filed">
        <input matInput placeholder="Designation" formControlName="designation">
      </mat-form-field>
    </div>

    <!-- <div class="form-group col-lg-3 col-md-6 align_input">
        <label for="">Last Update</label>
        <mat-form-field appearance="fill" class="form_filed modify_input read_only">
          <input matInput [matDatepicker]="picker1" (click)="picker1.open()" placeholder="Date" autocomplete="off" value="{{value.edit_service.updated_at}}"
          [readonly]="true" disabled class="pb-1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div> -->


    <div class="form-group col-lg-3 col-md-6" *ngIf="!editMode">
      <label for="">Password<span class="req">*</span></label>
      <mat-form-field appearance="fill" class="form_filed modify_input">
        <input matInput type="password" placeholder="Password" formControlName="password" required class="pb-1" 
        [type]="hide ? 'password' : 'text'" (keydown)="spaceNotallowed($event)" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{5,}$">
             <mat-icon aria-hidden="false" matSuffix (click)="hide = !hide" class="date_select">
            {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        <mat-error *ngIf="adminForm.controls['password'].errors?.required">Password is required
        </mat-error>
        <mat-error *ngIf="adminForm.controls['password'].errors?.pattern">Password must meet the following criteria.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group col-lg-3 col-md-6" *ngIf="!editMode">
      <label for="">Confirm Password<span class="req">*</span></label>
      <mat-form-field appearance="fill" class="form_filed modify_input">
        <input matInput type="password" placeholder="Confirm password" formControlName="password_confirmation" class="pb-1"  required 
        [type]="hide1 ? 'password' : 'text'" (keydown)="spaceNotallowed($event)" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{5,}$">
        <mat-icon aria-hidden="false" matSuffix (click)="hide1 = !hide1" class="date_select">
            {{hide1 ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        <mat-error *ngIf="adminForm.controls['password_confirmation'].errors?.required">Confirm Password is required
        </mat-error>
        <mat-error *ngIf="adminForm.controls['password_confirmation'].errors?.mustMatch">confirm password does not
          match.
        </mat-error>
        <mat-error *ngIf="adminForm.controls['password_confirmation'].errors?.pattern">Confirm password must meet the following criteria.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="!editMode">
    <p class="closed">Note:</p>
    <p>Use six or more characters with mix of uppercase, lowercase letters, numbers and special characters.</p>
</div>
  <div class="d-flex justify-content-end form_btn">
    <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Submit</button>
    <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
  </div>
</form>
</div>