<section class="page_content_modal mb-3 pb-3">
  <h1 class="m-0">Dealer Management</h1>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</section>

<div class="dialog_form_page">
  <form [formGroup]="dealerForm" (ngSubmit)="submit()"
    *ngIf="value.edit_dealer.user.status === null && this.token.getRole() !== 'Verifier'" autocomplete="off"
    class="my-form form_sec lg_modal">
    <h5 class="mb-3">Dealer Info</h5>
    <div class="form-row">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Dealer ID</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Dealer Id" required formControlName="uuid" [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Dealer Name<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Dealer Name" formControlName="full_name" required>
          <mat-error *ngIf="dealerForm.controls['full_name'].errors?.required">Dealer Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6" formGroupName="dealer_attributes">
        <label for="">Father's Name<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Father's Name" formControlName="father_name" required>
          <mat-error *ngIf="dealerForm.controls.dealer_attributes['controls'].father_name.errors?.required">Father Name
            is
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Mobile Number</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Mobile Number" formControlName="username" [readonly]="true">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row" formGroupName="dealer_attributes">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">State<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <mat-select formControlName="state" (selectionChange)="getCities($event.value)">
            <input matInput placeholder="Search" (keyup)="search_state($event.target.value)"
              (keydown)="$event.stopPropagation()" class="search">
            <mat-option value="" disabled> Select State</mat-option>
            <mat-option *ngFor="let state of states" [value]="state?.id">{{state.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dealerForm.controls.dealer_attributes['controls'].state.errors?.required">State is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">City<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <mat-select formControlName="city">
            <input matInput placeholder="Search" (keyup)="search_city($event.target.value)"
              (keydown)="$event.stopPropagation()" class="search">
            <mat-option value="" disabled> Select City</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city?.id">{{city.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="dealerForm.controls.dealer_attributes['controls'].city.errors?.required">City is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Pincode<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Pincode" formControlName="pincode" required pattern="[0-9]*" maxlength="7">
          <mat-error *ngIf="dealerForm.controls.dealer_attributes['controls'].pincode.errors?.required">Pincode is
            required
          </mat-error>
          <mat-error *ngIf="dealerForm.controls.dealer_attributes['controls'].pincode.errors?.pattern">Please Enter a
            Valid pincode
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6 modify_input">
        <label for="">Address<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <textarea matInput placeholder="" formControlName="address_line1" required></textarea>
          <mat-error *ngIf="dealerForm.controls.dealer_attributes['controls'].address_line1.errors?.required">Address is
            required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <h5 class="mb-3">Additional Info</h5>
    <div class="form-row" formGroupName="dealer_attributes">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Qualification<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Qualification" formControlName="qualification" required>
          <mat-error *ngIf="dealerForm.controls.dealer_attributes['controls'].qualification.errors?.required">
            Qualification is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">College/School<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="College/School" formControlName="institute_name" required>
          <mat-error *ngIf="dealerForm.controls.dealer_attributes['controls'].institute_name.errors?.required">Institute
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">PassedOut Year<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
            <mat-select formControlName="passing_year">
                <mat-option value="" disabled> Select PassedOut Year</mat-option>
                <mat-option *ngFor="let year of years" [value]="year">{{year}}
                </mat-option>
              </mat-select>
          <!-- <input matInput placeholder="PassedOut year" formControlName="passing_year" required> -->
          <mat-error *ngIf="dealerForm.controls.dealer_attributes['controls'].passing_year.errors?.required">Passed Out
            Year is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6 modify_input">
        <label for="">Aadhar Image</label>
        <br>
        <a href="{{BaseURL}}/{{value.edit_dealer.aadhar_no.url}}" target="_blank" class="proof_img">
          <img *ngIf="value.edit_dealer.aadhar_no.url" src="{{BaseURL}}/{{value.edit_dealer.aadhar_no.url}}"
            onerror="this.src='assets/img/placeholder.png'" height="60%" width="40%">
          <img *ngIf="!value.edit_dealer.aadhar_no.url" src="assets/img/placeholder.png">
        </a>
        <!-- <mat-form-field appearance="fill" class="form_filed">
          <ngx-mat-file-input valuePlaceholder={{aadhar_url}} formControlName="aadhar_no"
            (change)="onChangeImage($event.target.files[0])"></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon> 
    </mat-form-field> -->
      </div>
    </div>
    <div formGroupName="dealer_attributes">
      <div class="form-row" formGroupName="account_info_attributes">
        <div class="form-group col-lg-3 col-md-6 modify_input">
          <label for="">Pan Card Image</label>
          <br>
          <a href="{{BaseURL}}/{{value.edit_dealer.pan_card.url}}" target="_blank" class="proof_img">
            <img *ngIf="value.edit_dealer.pan_card.url" src="{{BaseURL}}/{{value.edit_dealer.pan_card.url}}"
              onerror="this.src='assets/img/placeholder.png'" height="60%" width="40%">
            <img *ngIf="!value.edit_dealer.pan_card.url" src="assets/img/placeholder.png">
          </a>
        </div>
        <div class="form-group col-lg-3 col-md-6 modify_input">
          <label for="">Insurance Detail</label>
          <br>
          <a href="{{BaseURL}}/{{value.edit_dealer.account_info.insurance_url.url}}" target="_blank" class="proof_img">
            <img *ngIf="value.edit_dealer.account_info.insurance_url.url"
              src="{{BaseURL}}/{{value.edit_dealer.account_info.insurance_url.url}}"
              onerror="this.src='assets/img/placeholder.png'" height="60%" width="40%">
            <img *ngIf="!value.edit_dealer.account_info.insurance_url.url" src="assets/img/placeholder.png">
          </a>
          <!-- <mat-form-field appearance="fill" class="form_filed">
        <ngx-mat-file-input valuePlaceholder="Upload a file" formControlName="insurance_url"
          (change)="onChangeImage1($event.target.files[0])"></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field> -->
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Vehicle Number</label>
          <mat-form-field appearance="fill" class="form_filed">
            <input matInput placeholder="Vehicle Number" formControlName="vehicle_no">
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">PA Policy Number</label>
          <mat-form-field appearance="fill" class="form_filed">
            <input matInput placeholder="PA Policy Number" formControlName="pa_policy_no">
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Registered Fee<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <input matInput placeholder="Registered Fee" formControlName="reg_fee" required>
            <mat-error
              *ngIf="dealerForm.controls.dealer_attributes['controls'].account_info_attributes['controls'].reg_fee.errors?.required">
              Registered Fee is required
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="form-group col-lg-3 col-md-6">
      <label for="">Payment Method</label>
      <mat-form-field appearance="fill" class="form_filed">
        <input matInput placeholder="Payment method" formControlName="payment_method" required>
      </mat-form-field>
    </div> -->
      </div>
      <h5 class="mb-3">Bank Info</h5>
      <div class="form-row" formGroupName="account_info_attributes">
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Bank Name<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <mat-select formControlName="bank_name">
              <mat-option value="" disabled> Select Bank</mat-option>
              <mat-option *ngFor="let bank of banks" [value]="bank?.id">{{bank.name}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="dealerForm.controls.dealer_attributes['controls'].account_info_attributes['controls'].bank_name.errors?.required">
              Bank Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Accountant Name<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <input matInput placeholder="Accountant name" formControlName="accountant_name">
            <mat-error
              *ngIf="dealerForm.controls.dealer_attributes['controls'].account_info_attributes['controls'].accountant_name.errors?.required">
              Accountant Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Account Number<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <input matInput placeholder="Account number" formControlName="account_no" maxlength="18">
            <mat-error
              *ngIf="dealerForm.controls.dealer_attributes['controls'].account_info_attributes['controls'].account_no.errors?.required">
              Account Number is required
            </mat-error>
            <mat-error
              *ngIf="dealerForm.controls.dealer_attributes['controls'].account_info_attributes['controls'].account_no.errors?.pattern">
              Please Enter a Valid Account Number
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">IFSC Code<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <input matInput placeholder="IFSC code" formControlName="ifsc_code" maxlength="11">
            <mat-error
              *ngIf="dealerForm.controls.dealer_attributes['controls'].account_info_attributes['controls'].ifsc_code.errors?.required">
              IFSC Code is required
            </mat-error>
            <mat-error
              *ngIf="dealerForm.controls.dealer_attributes['controls'].account_info_attributes['controls'].ifsc_code.errors?.pattern">
              Please Enter a Valid IFSC Code (Format: ABCD0123456)
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="justify-content-between form_btn">
      <mat-checkbox *ngIf="value.edit_dealer.user.status === null" formControlName="status">Verify</mat-checkbox>
      <div class="align_right">
        <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Update</button>
        <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
      </div>
    </div>
  </form>
  <form [formGroup]="dealerForm" (ngSubmit)="submit()"
    *ngIf="value.edit_dealer.user.status !== null || this.token.getRole() === 'Verifier'" autocomplete="off"
    class="my-form form_sec lg_modal">

    <h5 class="mb-3">Dealer Info</h5>
    <div class="form-row">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Dealer ID</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Dealer Id" required formControlName="uuid" [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Dealer Name</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Dealer Name" formControlName="full_name" [readonly]="true" required matTooltip={{value.edit_dealer.user.full_name}} matTooltipPosition=above>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6" formGroupName="dealer_attributes">
        <label for="">Father's Name</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Father's Name" formControlName="father_name" [readonly]="true" required matTooltip={{value.edit_dealer.father_name}} matTooltipPosition=above>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Mobile Number</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Mobile Number" formControlName="username" [readonly]="true">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row" formGroupName="dealer_attributes">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">State</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="State" value="{{value.edit_dealer?.state?.name}}" [readonly]="true" required>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">City</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="City" value="{{value.edit_dealer?.city?.name}}" [readonly]="true" required>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Pincode</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Pincode" formControlName="pincode" required [readonly]="true" pattern="[0-9]*"
            maxlength="7">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6 modify_input">
        <label for="">Address</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <textarea matInput placeholder="" formControlName="address_line1" [readonly]="true" 
          required matTooltip={{value.edit_dealer.address_line1}} matTooltipPosition=above></textarea>
        </mat-form-field>
      </div>
    </div>
    <h5 class="mb-3">Additional Info</h5>
    <div class="form-row" formGroupName="dealer_attributes">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Qualification</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Qualification" formControlName="qualification" [readonly]="true" required>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">College/School</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="College/School" formControlName="institute_name" [readonly]="true"
           required matTooltip={{value.edit_dealer.institute_name}} matTooltipPosition=above>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">PassedOut Year</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="PassedOut year" formControlName="passing_year" [readonly]="true" required>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6 modify_input">
        <label for="">Aadhar Image</label>
        <br>
        <a href="{{BaseURL}}/{{value.edit_dealer.aadhar_no.url}}" target="_blank" class="proof_img">
          <img *ngIf="value.edit_dealer.aadhar_no.url" src="{{BaseURL}}/{{value.edit_dealer.aadhar_no.url}}"
            onerror="this.src='assets/img/placeholder.png'" height="60%" width="40%">
          <img *ngIf="!value.edit_dealer.aadhar_no.url" src="assets/img/placeholder.png">
        </a>
      </div>
    </div>
    <div formGroupName="dealer_attributes">
      <div class="form-row" formGroupName="account_info_attributes">
        <div class="form-group col-lg-3 col-md-6 modify_input">
          <label for="">Pan Card Image</label>
          <br>
          <a href="{{BaseURL}}/{{value.edit_dealer.pan_card.url}}" target="_blank" class="proof_img">
            <img *ngIf="value.edit_dealer.pan_card.url" src="{{BaseURL}}/{{value.edit_dealer.pan_card.url}}"
              onerror="this.src='assets/img/placeholder.png'" height="60%" width="40%">
            <img *ngIf="!value.edit_dealer.pan_card.url" src="assets/img/placeholder.png">
          </a>
        </div>
        <div class="form-group col-lg-3 col-md-6 modify_input">
          <label for="">Insurance Detail</label>
          <br>
          <a href="{{BaseURL}}/{{value.edit_dealer.account_info.insurance_url.url}}" target="_blank" class="proof_img">
            <img *ngIf="value.edit_dealer.account_info.insurance_url.url"
              src="{{BaseURL}}/{{value.edit_dealer.account_info.insurance_url.url}}"
              onerror="this.src='assets/img/placeholder.png'" height="60%" width="40%">
            <img *ngIf="!value.edit_dealer.account_info.insurance_url.url" src="assets/img/placeholder.png">
          </a>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Vehicle Number</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Vehicle Number" formControlName="vehicle_no" [readonly]="true">
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">PA Policy Number</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="PA Policy Number" formControlName="pa_policy_no" [readonly]="true">
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Registered Fee</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Registered Fee" formControlName="reg_fee" [readonly]="true" required>
          </mat-form-field>
        </div>
      </div>
      <h5 class="mb-3">Bank Info</h5>
      <div class="form-row" formGroupName="account_info_attributes">
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Bank Name</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Bank name" value={{value.edit_dealer.account_info.bank.name}}
              [readonly]="true" matTooltip={{value.edit_dealer.account_info.bank.name}} matTooltipPosition=above>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Accountant Name</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Accountant name" formControlName="accountant_name" [readonly]="true" matTooltip={{value.edit_dealer.account_info.accountant_name}} matTooltipPosition=above>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">Account Number</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="Account number" formControlName="account_no" [readonly]="true">
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <label for="">IFSC Code</label>
          <mat-form-field appearance="fill" class="form_filed read_only">
            <input matInput placeholder="IFSC code" formControlName="ifsc_code" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="justify-content-between form_btn">
      <mat-checkbox *ngIf="value.edit_dealer.user.status === null" formControlName="status">Verify</mat-checkbox>
      <div class="align_right" *ngIf="value.edit_dealer.user.status === null">
        <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Update</button>
        <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
      </div>
    </div>
  </form>

</div>