<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">Dealer Management</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item active" aria-current="page">Dealer Management</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="accurate_main_area">
    <mat-card>
      <div class="d-flex justify-content-between align-items-center form_sec">
        <button id="filter-table-adj" mat-icon-button (click)="toggle()">
          <mat-icon>filter_list</mat-icon>
        </button>
        <div class="d-flex justify-content-start align-items-center">
          <button href="javascript:;" *ngIf="dealerID.length > 0" class="btn add_btn mr-2"
            (click)="print()">Print</button>
          <button href="javascript:;" *ngIf="dealerID.length === 0" class="btn add_btn mr-2" (click)="print()"
            disabled>Print</button>
          <mat-form-field appearance="fill" class="search">
            <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter()" placeholder="Search"
              autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <mat-accordion class="filter_sec">
        <mat-expansion-panel [expanded]="panelOpenState">
          <div class="filter_area_sec form_sec">
            <div class="filter_filed">
              <label for="">State</label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select [(ngModel)]="state" (selectionChange)="getCities($event.value)">
                  <input matInput placeholder="Search" (keyup)="search_state($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="state_input">
                  <mat-option value="" selected> All</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state?.id">{{state.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter_filed">
              <label for="">City</label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select [(ngModel)]="city" (selectionChange)="getAreas($event.value)">
                    <input matInput placeholder="Search" (keyup)="search_city($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="city_input">
                  <mat-option value="" selected> All</mat-option>
                  <mat-option *ngFor="let city of cities" [value]="city?.id">{{city.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter_filed">
              <label for="">Area</label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select [(ngModel)]="area">
                    <input matInput placeholder="Search" (keyup)="search_area($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="area_input">
                  <mat-option value="" selected> All</mat-option>
                  <mat-option *ngFor="let area of areas" [value]="area?.id">{{area.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="align_block">
              <div class="form_btn">
                <button mat-raised-button type="submit" class="btn mr-1" (click)="filter()">Filter</button>
                <button mat-raised-button class="btn" (click)="clear()">Clear</button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-card-content class="mt-2">
        <div infiniteScroll [ngClass]="{'expand' : panelOpenState}" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
          [scrollWindow]="true" class="scroll example-container mat-elevation-z0">
          <table mat-table [dataSource]="dataSource" matSort
            class="table_view table-bordered table-striped">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
                  (change)="selectAll($event)">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"
                  (change)="selectDealer(row.id, $event)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> S.No </th>
              <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="user.uuid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let element" class="align_icon"> {{element?.user?.uuid}}</td>
            </ng-container>
            <ng-container matColumnDef="user.full_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dealer Name </th>
              <td mat-cell *matCellDef="let element">{{element?.user?.full_name}} </td>
            </ng-container>
            <ng-container matColumnDef="user.username">
              <th mat-header-cell *matHeaderCellDef> Mobile No </th>
              <td mat-cell *matCellDef="let element"> {{element?.user?.username}}</td>
            </ng-container>
            <ng-container matColumnDef="address_line1">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{element?.address_line1 || '---'}}</td>
            </ng-container>
            <ng-container matColumnDef="city.name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
              <td mat-cell *matCellDef="let element">{{element?.city?.name || '---'}}</td>
            </ng-container>
            <ng-container matColumnDef="area.name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
              <td mat-cell *matCellDef="let element">{{element?.area?.name || '---'}}</td>
            </ng-container>
            <ng-container matColumnDef="user.status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element" [class.open]="element?.user?.status === 'Active'"
                [class.inprogress]="element?.user?.status === 'Verified'" [class.closed]="element?.user?.status === 'Inactive'">{{element?.user?.status || 'Not Verified'}}
              </td>
            </ng-container>
            <ng-container matColumnDef="activate">
              <th mat-header-cell *matHeaderCellDef> Activate/ Deactivate </th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle *ngIf="element.user.status === 'Active'" [checked]=true
                  (change)="status($event, element.user.id)"></mat-slide-toggle>
                <mat-slide-toggle *ngIf="element.user.status === 'Inactive'" [checked]=false
                  (change)="status($event, element.user.id)"></mat-slide-toggle>
                <mat-slide-toggle *ngIf="element.user.status === 'Verified' || element.user.status === null"
                  [checked]=false (change)="status($event, element.user.id)" disabled></mat-slide-toggle>
              </td>
            </ng-container>
            <ng-container matColumnDef="customer_count">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer count </th>
              <td mat-cell *matCellDef="let element">{{element?.customer_count || '---'}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element" class="align_icon">
                <!-- <a>
                <mat-slide-toggle  *ngIf="element.user.status === 'Active'"  [checked] = true  (change)="status($event, element.user.id)"></mat-slide-toggle>
                <mat-slide-toggle  *ngIf="element.user.status === 'Inactive'"  [checked] = false  (change)="status($event, element.user.id)"></mat-slide-toggle>
              </a> -->
                <!-- <a *ngIf="this.token.getRole() === 'Verifier'" href="javascript:;"
                  (click)="edit(element,element.user.id)" class="actions_icons" matTooltip="View">
                  <mat-icon class="mr-1 icons">visibility</mat-icon>
                </a> -->
                <button *ngIf="this.token.getRole() === 'Verifier'" class="btn add_btn"
                (click)="edit(element,element.user.id)">Verify</button>
                <a *ngIf="this.token.getRole() !== 'Verifier'" href="javascript:;"
                  (click)="edit(element,element.user.id)" class="actions_icons" matTooltip="Edit">
                  <mat-icon class="mr-1 icons">edit</mat-icon>
                </a>
                <a *ngIf="this.token.getRole() === 'Superadmin'" href="javascript:;" (click)="delete(element.id)"
                  class="actions_icons" matTooltip="Delete">
                  <mat-icon class="mr-1 icons">delete</mat-icon>
                </a>
                <a *ngIf="this.token.getRole() !== 'Verifier'" href="javascript:;" (click)="print(element.id)"
                  class="actions_icons" matTooltip="Print">
                  <mat-icon class="mr-1 icons">print</mat-icon>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <ng-container *ngIf="dataSource?.filteredData.length == 0">
          <div class="no_data_msg">No Data Avaliable</div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </section>
</div>


<!-- <div class="main_content" id="exportable">
<section class="accurate_main_area">
<h5>Dealer Details</h5>
<div *ngFor="let print of print_list; let i = index">
    <table mat-table [dataSource]="dataSource_print[i]" class="mat-elevation-z0 table_view table-bordered ">
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef> Key </th>
          <td mat-cell *matCellDef="let element" class="table_head"> {{element.key}} </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value || '---'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns_print;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns_print;"></tr>
      </table>
</div>

</section>
</div> -->