<div class="main_content">
        <section class="page_content_wrapper mb-3">
          <div class="d-flex justify-content-between align-items-between">
            <h1 class="m-0">Masters</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
                    <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
                  </a></li>
                <li class="breadcrumb-item active" aria-current="page">Masters</li>
              </ol>
            </nav>
          </div>
        </section>
      
        <section class="accurate_main_area">
          <mat-card>
            <!-- <mat-card-subtitle class="sub_title mr-auto">Product Management</mat-card-subtitle> -->
            <mat-card-content>
              <mat-tab-group (selectedTabChange)="select($event)">
                <mat-tab label="Customer Category">
                    <div class="d-flex justify-content-end align-items-center form_sec my-2">
                      <!-- <mat-card-subtitle class="sub_title mr-auto">Class List</mat-card-subtitle> -->
                      <!-- <a href="javascript:;" *ngIf="this.token.getRole() !== 'Verifier'" (click)="machineDialog()"
                        class="btn add_btn mr-2">Add Class</a> -->
                      <!-- <mat-form-field appearance="fill" class="search"> -->
                        <!-- <mat-label>Search</mat-label> -->
                        <!-- <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter_machine_class($event.target.value)"
                          type="text" name="search" placeholder="Search" autocomplete="off"> -->
                        <!-- <mat-icon matSuffix>search</mat-icon> -->
                      <!-- </mat-form-field> -->
                    </div>
                    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                      [scrollWindow]="false" class="scroll">
                      <table mat-table #categoyr_sort="matSort" [dataSource]="category_dataSource" matSort
                        class="mat-elevation-z0 table_view table-bordered table-striped">
        
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef> S.No </th>
                          <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Category </th>
                          <td mat-cell *matCellDef="let element"> {{element?.name || '---' }} </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="category_displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: category_displayedColumns;"></tr>
                      </table>
                    </div>
                    <ng-container *ngIf="category_dataSource?.filteredData.length == 0">
                      <div class="no_data_msg">No Data Avaliable</div>
                    </ng-container>
                    <br>
        
                  </mat-tab>
                  <mat-tab label="Customer Sub Category">
                      <div class="d-flex justify-content-end align-items-center form_sec my-2">
                        <!-- <mat-card-subtitle class="sub_title mr-auto">Class List</mat-card-subtitle> -->
                        <!-- <a href="javascript:;" *ngIf="this.token.getRole() !== 'Verifier'" (click)="machineDialog()"
                          class="btn add_btn mr-2">Add Class</a> -->
                        <!-- <mat-form-field appearance="fill" class="search"> -->
                          <!-- <mat-label>Search</mat-label> -->
                          <!-- <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter_machine_class($event.target.value)"
                            type="text" name="search" placeholder="Search" autocomplete="off"> -->
                          <!-- <mat-icon matSuffix>search</mat-icon> -->
                        <!-- </mat-form-field> -->
                      </div>
                      <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                        [scrollWindow]="false" class="scroll">
                        <table mat-table #sub_category_sort="matSort" [dataSource]="sub_category_dataSource" matSort
                          class="mat-elevation-z0 table_view table-bordered table-striped">
          
                          <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> S.No </th>
                            <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
                          </ng-container>
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Sub Category </th>
                            <td mat-cell *matCellDef="let element"> {{element?.name || '---' }} </td>
                          </ng-container>
          
                          <tr mat-header-row *matHeaderRowDef="sub_category_displayedColumns; sticky: true"></tr>
                          <tr mat-row *matRowDef="let row; columns: sub_category_displayedColumns;"></tr>
                        </table>
                      </div>
                      <ng-container *ngIf="category_dataSource?.filteredData.length == 0">
                        <div class="no_data_msg">No Data Avaliable</div>
                      </ng-container>
                      <br>
          
                    </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </section>
      </div>