    <!-- <section class="page_content_modal mb-3 pb-3">
      <h1 class="m-0">Add Capacity</h1>
      <button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </section>
    <div class="dialog_form_page">
    <form [formGroup]="capacityForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec">
        <div class="form-group">
          <label for="">Capacity</label>
          <mat-form-field appearance="fill" class="form_filed">
            <input matInput placeholder="Capacity" formControlName="value" required cdkFocusInitial>
          </mat-form-field>
        </div>
      <div class="d-flex justify-content-end form_btn">
        <button mat-raised-button type="submit" class="btn">Save</button>
      </div>
    </form>
  </div> -->
