<section class="page_content_modal mb-3 pb-3">
  <h1 class="m-0">Add Machine Class</h1>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</section>
<div class="dialog_form_page">
  <form [formGroup]="machineClassForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec">
    <div class="form-row">
      <div class="form-group col-lg-6 col-md-6">
        <label for="">Capacity<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Capacity" formControlName="capacity" required>
          <!-- <mat-select formControlName="capacity_id">
            <input matInput placeholder="Search" (keyup)="search_Capacity($event.target.value)" (keydown)="$event.stopPropagation()" class="search">
            <mat-option value="" selected disabled>Select Capacity</mat-option>
            <mat-option *ngFor="let capacity of capacities" [value]="capacity.id">{{capacity.value}}</mat-option>
          </mat-select> -->
          <mat-error *ngIf="machineClassForm.controls['capacity'].errors?.required">Capacity is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-6 col-md-6">
        <label for="">Accuracy<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Accuracy" formControlName="accuracy" required>
          <!-- <mat-select formControlName="accuracy_id">
            <input matInput placeholder="Search" (keyup)="search_Accuracy($event.target.value)" (keydown)="$event.stopPropagation()" class="search">
            <mat-option value="" selected disabled>Select Accuracy</mat-option>
            <mat-option *ngFor="let accuracy of accuracies" [value]="accuracy.id">{{accuracy.value}}</mat-option>
          </mat-select> -->
          <mat-error *ngIf="machineClassForm.controls['accuracy'].errors?.required">Accuracy is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-6 col-md-6">
        <label for="">Min Value<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Min Value" formControlName="min_value" required>
          <mat-error *ngIf="machineClassForm.controls['min_value'].errors?.required">Min Value is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-6 col-md-6">
        <label for="">Class Name<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Class name" formControlName="class_name" required>
          <mat-error *ngIf="machineClassForm.controls['class_name'].errors?.required">Class Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <!-- <div class="form-group col-lg-3 col-md-6">
      <label for="">Stamping Cost</label>
      <mat-form-field appearance="fill" class="form_filed">
        <input matInput placeholder="Stamping cost" type="number" formControlName="stamping_cost" required>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div> -->
    </div>
    <div class="d-flex justify-content-end form_btn">
      <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Save</button>
      <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
    </div>
  </form>
</div>