<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">Product Management</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item active" aria-current="page">Product Management</li>
        </ol>
      </nav>
    </div>
  </section>

  <section class="accurate_main_area">
    <mat-card>
      <!-- <mat-card-subtitle class="sub_title mr-auto">Product Management</mat-card-subtitle> -->
      <mat-card-content>
        <mat-tab-group (selectedTabChange)="select($event)">
          <mat-tab label="Class">
            <div class="d-flex justify-content-end align-items-center form_sec my-2">
              <!-- <mat-card-subtitle class="sub_title mr-auto">Class List</mat-card-subtitle> -->
              <a href="javascript:;" *ngIf="this.token.getRole() !== 'Verifier'" (click)="machineDialog()"
                class="btn add_btn mr-2">Add Class</a>
              <mat-form-field appearance="fill" class="search">
                <!-- <mat-label>Search</mat-label> -->
                <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter_machine_class()"
                  type="text" name="search" placeholder="Search" autocomplete="off">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
              (scrolled)="onScrollMachine()" [scrollWindow]="false" class="scroll">
              <table mat-table #machine_class_sort="matSort" [dataSource]="machine_class_dataSource" matSort
                class="mat-elevation-z0 table_view table-bordered table-striped">

                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> S.No </th>
                  <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="capacity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
                  <td mat-cell *matCellDef="let element"> {{element?.capacity || '---' }} </td>
                </ng-container>
                <ng-container matColumnDef="accuracy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Accuracy </th>
                  <td mat-cell *matCellDef="let element"> {{element?.accuracy || '---' }} </td>
                </ng-container>
                <ng-container matColumnDef="min_value">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Min Value </th>
                  <td mat-cell *matCellDef="let element"> {{element?.min_value || '---' }} </td>
                </ng-container>
                <ng-container matColumnDef="class_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Name </th>
                  <td mat-cell *matCellDef="let element"> {{element?.class_name || '---' }} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="stamping_cost">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stamping Cost </th>
                <td mat-cell *matCellDef="let element"> {{element?.stamping_cost || '---' }} </td>
              </ng-container> -->

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" (click)="editMachineClass(element,element.id)" class="actions_icons"
                      matTooltip="Edit">
                      <mat-icon class="mr-1 icons">edit</mat-icon>
                    </a>
                    <a href="javascript:;" (click)="deleteMachineClass(element.id)" class="actions_icons"
                      matTooltip="Delete">
                      <mat-icon class="mr-1 icons">delete</mat-icon>
                    </a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="machine_class_displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: machine_class_displayedColumns;"></tr>
              </table>
            </div>
            <ng-container *ngIf="machine_class_dataSource?.filteredData.length == 0">
              <div class="no_data_msg">No Data Avaliable</div>
            </ng-container>
            <br>

          </mat-tab>
          <mat-tab label="Service Type">
            <div class="d-flex justify-content-end align-items-center form_sec my-2">
              <!-- <mat-card-subtitle class="sub_title mr-auto">Service Type List</mat-card-subtitle> -->
              <a href="javascript:;" *ngIf="this.token.getRole() !== 'Verifier'" (click)="serviceDialog()"
                class="btn add_btn mr-2">Add Service Type</a>
              <mat-form-field appearance="fill" class="search">
                <!-- <mat-label>Search</mat-label> -->
                <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter_service_type()"
                  type="text" name="search" placeholder="Search" autocomplete="off">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
              (scrolled)="onScrollService()" [scrollWindow]="false" class="scroll">

              <table mat-table #service_type_sort="matSort" [dataSource]="service_type_dataSource" matSort
                class="mat-elevation-z0 table_view table-bordered">

                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> S.No </th>
                  <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="type_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type Name</th>
                  <td mat-cell *matCellDef="let element"> {{element?.type_name}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Cost </th>
                <td mat-cell *matCellDef="let element"> {{element?.cost || '---' }} </td>
              </ng-container> -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" (click)="editServiceType(element,element.id)" class="actions_icons"
                      matTooltip="Edit">
                      <mat-icon class="mr-1 icons">edit</mat-icon>
                    </a>
                    <a href="javascript:;" (click)="deleteServiceType(element.id)" class="actions_icons"
                      matTooltip="Delete">
                      <mat-icon class="mr-1 icons">delete</mat-icon>
                    </a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="service_type_displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: service_type_displayedColumns;"></tr>
              </table>
            </div>
            <ng-container *ngIf="service_type_dataSource?.filteredData.length == 0">
              <div class="no_data_msg">No Data Avaliable</div>
            </ng-container>
            <br>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </section>
</div>