<section class="page_content_modal mb-3 pb-3">
    <h1 class="m-0">Add Service Type</h1>
    <button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </section>
  <div class="dialog_form_page">
  <form [formGroup]="serviceForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec">
      <div class="form-group">
        <label for="">Type Name<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Type Name" formControlName="type_name" required cdkFocusInitial>
        </mat-form-field>
      </div>
    <div class="d-flex justify-content-end form_btn">
      <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Save</button>
      <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
    </div>
  </form>
  </div>
