<section id="accurate_login_block" class="login-page">
  <div class="container-fluid">
    <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-lg-6 col-md-6 d-none d-md-flex login_left">
        <div class="banner_text">
          <a href="javascript:;" class="logo">
            <span>Weighing Scaleman </span>
            <!-- <img  class="img-fluid" src="../../../../assets/img/logo.svg"> -->
          </a>
          <h1>Welcome to Weighing Scaleman</h1>
          <!-- <p class="help_msg">Login to access to your account</p> -->
        </div>
      </div>
      <div class="col-lg-6 col-md-6 login_right">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-8 mx-auto">
                <h1 class="text-center mb-4">Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off"
                  class="my-form form_sec login_form">
                  <mat-form-field appearance="fill" class="form_filed" (keydown)="spaceNotallowed($event)">
                    <!-- <mat-label>Email address</mat-label> -->
                    <input matInput placeholder="Email address" formControlName="username"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="pb-1">
                    <mat-icon matPrefix class="mr-1 icons">mail</mat-icon>
                    <mat-error *ngIf="loginForm.controls['username'].errors?.required">Email is required
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls['username'].errors?.pattern">Please enter a valid Email
                      address
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="form_filed">
                    <!-- <mat-label>Password</mat-label> -->
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                      formControlName="password" autocomplete="off" (keydown)="spaceNotallowed($event)" class="pb-1">
                    <mat-icon matPrefix class="pb-1 mr-1 icons">lock</mat-icon>
                    <mat-icon aria-hidden="false" matSuffix (click)="hide = !hide" class="date_select">
                      {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="loginForm.controls['password'].errors?.required">Password is required
                    </mat-error>
                  </mat-form-field>
                  <div class="text-right mb-3 login_link">
                    <a [routerLink]="['/forgot-password']">Forgot password?</a>
                  </div>
                  <button mat-raised-button type="submit" color="primary"
                    class="btn btn-lg btn-block login_btn p-1" [disabled]="clicked">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>