@import '~sass/styles.scss';


.header {
  background: $th-theme-bg-color;
  @include box-shadow(1px 2px 9px 0px #4646462b);

  .sidebar_logo {
    background: $th_theme_purple;
    padding: 10px 15px;
    width: 255px;
    height: 57px;
    max-width: 100%;

    .logo {
      text-decoration: none;
      width: 300px;

      img {
        max-width: 100%;
        width: 100px;
      }
    }
  }

  .drop_down_btn {
    cursor: pointer;
    align-items: center;

    .user_profile {
      // max-width: 100%;
      // @include display-flex(inline-block);
      // @include border-radius(50%);
      // border: 1px solid $th_theme_grey;
      // padding: 2px;
      // float: left;

      i {
        width: 36px;
        height: 36px;
        font-size: 26px;
        display: flex;
        align-items: center;
        -o-object-position: center;

        justify-content: center;
        background: #7f63f4;
        color: #fff;
        @include border-radius(50%);
      }
    }

    .user_sec {
      vertical-align: top;
      overflow: hidden;
      padding: 0 15px;
      text-align: center;

      p {
        font-size: 14px;
        padding: 0;
        color: #404E67;
        margin: 0;

      }

      span {
        font-size: 12px;
        color: $th_theme_purple;
        font-weight: 600;
      }

    }
  }

  .dropdown-toggle {
    &::after {
      content: unset;
    }

  }

  .dropdown-menu {
    box-shadow: 1px 2px 9px 0px #4646462b;
    border: 1px solid $th_theme_white;
    margin: 15px 3px;

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      right: 30px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border: 10px solid $th_theme_white;
      border-right-color: transparent;
      border-bottom-color: transparent;
      @include box-shadow(-10px -9px 23px 1px rgba(0, 0, 0, 0.1));
    }

    button {
      font-size: 16px;
      @include display-flex(flex);
      color: $th_theme_text;

      .icons {
        font-size: 16px;
        padding: 4px;
        width: 24px;
        height: 26px;
        text-align: center;
        @include display-flex(block);
        position: relative;
        bottom: -2px;
      }
    }

    .dropdown-item {
      &:active {
        color: $th_theme_purple;
        text-decoration: none;
        background-color: #daddfc;
      }

    }

  }
}


@media only screen and (max-width: 1366px) {
  .header {
    .sidebar_logo {
      width: 255px;
    }
  }

}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 768px) {
  .header {
    .sidebar_logo {
      height: 57px;
      max-width: 100%;
      width: 140px;

      .logo {
        span {
          font-size: 14px;
        }
      }
    }

    .drop_down_btn {
      .user_sec {
        vertical-align: top;
        overflow: hidden;
        padding: 0 5px;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    .sidebar_logo {
      height: 57px;
      max-width: 100%;

      .logo {
        img {
          width: 134px;
          display: block;
        }
      }
    }

    .drop_down_btn {
      .user_profile {
        margin-right: 10px;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .user_sec {
        display: none;
      }
    }

  }

  // #sidebarCollapse{
  //     position: absolute;
  //     top: 10px;
  //     right: 1px;

  // }

}
