<section class="header">
  <nav class="navbar navbar-light">
    <div class=" d-flex justify-content-start align-item-center">
      <!-- <button type="button" mat-button id="sidebarCollapse" onclick="openNav()">
        
      </button> -->
      <button type="button" mat-button (click)="toggleEmit()">
        <mat-icon matPrefix class="mr-1 icons">menu</mat-icon>
      </button>
    </div>
    <div class="dropdown-toggle drop_down_btn d-flex justify-content-end" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <div class="user_profile">
        <i class="material-icons">
          person
        </i>
      </div>
      <div class="user_sec">
        <p> {{token.getName()}}</p>
        <span> {{token.getRole()}} </span>
      </div>
    </div>
    <div class="dropdown-menu dropdown-menu-right">
      <button class="dropdown-item" type="button" [routerLink]="['/reset-password']">
        <mat-icon matPrefix class="mr-1 icons">settings</mat-icon> Reset Password
      </button>
      <button class="dropdown-item" type="button" (click)="logout()">
        <mat-icon matPrefix class="mr-1 icons">exit_to_app</mat-icon> Logout
      </button>
    </div>
  </nav>
</section>
