<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">User Account</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item active" aria-current="page">User Account</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="accurate_main_area">
    <mat-card>
      <div class="d-flex align-items-center form_sec">
        <mat-card-subtitle class="sub_title mr-auto">Change Mobile Number</mat-card-subtitle>
      </div>
      <!-- <p class="text">Enter Registered Mobile Number</p> -->
      <mat-card-content class="mt-2 dialog_form_page">
        <form [formGroup]="settingForm" autocomplete="off" class="form_sec">
          <div class="form-row d-flex justify-content-start align-items-center">
            <div class="form-group col-lg-3 col-md-6">
              <label for="">Old Mobile Number<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput id="color" type="" placeholder="Registered Mobile Number" formControlName="old_mob_number"
                  (keydown)="spaceNotallowed($event)" required pattern="[0-9]*" minlength="10" maxlength="10">
                <mat-error *ngIf="settingForm.controls['old_mob_number'].errors?.required">
                  Old Mobile Number is required
                </mat-error>
                <mat-error *ngIf="settingForm.controls['old_mob_number'].errors?.pattern">
                  Please Enter a Valid Number
                </mat-error>
                <mat-error *ngIf="settingForm.controls['old_mob_number'].errors?.minlength">
                  Mobile Number Should be 10 digit
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label for="">New Mobile Number<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput id="color" placeholder="New Mobile Number" formControlName="new_mob_number" required
                  (keydown)="spaceNotallowed($event)" pattern="[0-9]*" minlength="10" maxlength="10" (input)="validate()">
                <mat-error *ngIf="settingForm.controls['new_mob_number'].errors?.required">
                  New Mobile Number is required
                </mat-error>
                <mat-error *ngIf="settingForm.controls['new_mob_number'].errors?.pattern">
                  Please Enter a Valid Number
                </mat-error>
                <mat-error *ngIf="settingForm.controls['new_mob_number'].errors?.minlength">
                  Mobile Number Should be 10 digit
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 form_btn" *ngIf="!userDetails">
              <button mat-raised-button (click)="getUser()" [disabled]="validated">Send OTP</button>
            </div>
            <div class="col-lg-3 col-md-6 form_btn" *ngIf="userDetails">
              <button mat-raised-button (click)="getUser()">Resend OTP</button>
            </div>
          </div>
        </form>
        <div *ngIf="userDetails" class="">
          <p><span>Name : </span>{{userDetails?.full_name}}, <span class="mx-2"></span><span> Role : </span>
            {{userDetails?.role}}</p>
        </div>
        <form [formGroup]="otpForm" autocomplete="off" class="form_sec">
          <div class="form-row  d-flex justify-content-start align-items-center" *ngIf="userDetails">
            <div class="form-group col-lg-3 col-md-6">
              <label for="">Enter OTP<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput placeholder="Enter OTP" formControlName="otp" required>
                <mat-error *ngIf="otpForm.controls['otp'].errors?.required">
                  OTP is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 form_btn">
              <button mat-raised-button (click)="verify()">Verify</button>
            </div>
          </div>
        </form>
      </mat-card-content>

    </mat-card>
  </section>
</div>