@import '~sass/styles.scss';

  
th.mat-sort-header-sorted {
    color: $th_theme_black;
  }
  .banner_img {
    img{
    width: 100px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    margin: 5px;
  }
}