<section class="page_content_modal mb-3 pb-3">
  <h1 class="m-0">Banner Management</h1>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</section>
<div class="dialog_form_page">
<form [formGroup]="bannerForm" (ngSubmit)="submit()"  autocomplete="off" class="form_sec">
    <div class="form-group">
      <label for="">Image<span class="req">*</span></label>
      <mat-form-field appearance="fill" class="form_filed">
        <ngx-mat-file-input valuePlaceholder={{url}} formControlName="banner_url"
          (change)="onChangeImage($event.target.files[0])" required accept="image/*">
        </ngx-mat-file-input>
        <mat-icon matSuffix>photo</mat-icon>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <mat-form-field appearance="fill" class="form_filed">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </div>
  <div class="d-flex justify-content-end form_btn">
    <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Save</button>
    <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
  </div>
</form>
</div>
