<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">Banner Management</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item active" aria-current="page">Banner Management</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="accurate_main_area">
    <mat-card>
      <div class="d-flex  justify-content-end align-items-center form_sec">
        <!-- <mat-card-subtitle class="sub_title mr-auto">Banner Management</mat-card-subtitle> -->
        <a *ngIf="this.token.getRole() !== 'Verifier'" href="javascript:;" (click)="openDialog()"
          class="btn add_btn mr-2">Add New</a>
        <!-- <mat-form-field appearance="fill" class="search">
          <input matInput (keyup)="applyFilter($event.target.value)" class="search" placeholder="Search" autocomplete="off">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field> -->
      </div>
      <mat-card-content class="mt-2">
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
          [scrollWindow]="false" class="scroll table-responsive">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0 table_view table-bordered table-striped">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> S.No </th>
              <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="banner_url.url">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Image name </th>
              <td mat-cell *matCellDef="let element" class="banner_img">
                <a href="{{BaseURL}}/{{element.banner_url.url}}" target="_blank">
                  <img *ngIf="element.banner_url.url" src="{{BaseURL}}/{{element.banner_url.url}}"
                    onerror="this.src='assets/img/placeholder.png'" height="20%" width="20%">
                  <img *ngIf="!element.banner_url.url" src="assets/img/placeholder.png">
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let element"> {{element?.description || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element" class="align_icon">
                <a href="javascript:;" (click)="edit(element,element.id)" class="actions_icons" matTooltip="Edit">
                  <mat-icon class="mr-1 icons">edit</mat-icon>
                </a>
                <a href="javascript:;" (click)="delete(element.id)" class="actions_icons" matTooltip="Delete">
                  <mat-icon class="mr-1 icons">delete</mat-icon>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <ng-container *ngIf="dataSource?.filteredData.length == 0">
          <div class="no_data_msg">No Data Avaliable</div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </section>
</div>