@import '~sass/styles.scss';

input.price::-webkit-outer-spin-button,
input.price::-webkit-inner-spin-button {
  display: none;
}
  
th.mat-sort-header-sorted {
    color: $th_theme_black;
  }


