<div class="main_content">
<section class="page_content_wrapper mb-3">
  <div class="d-flex justify-content-between align-items-between">
    <h1 class="m-0">Price Management</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0 p-0">
        <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
            <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
          </a></li>
        <li class="breadcrumb-item active" aria-current="page">Price Management</li>
      </ol>
    </nav>
  </div>
</section>
<section class="accurate_main_area">
  <mat-card>
      <!-- <mat-card-subtitle class="sub_title mr-auto">Price Management</mat-card-subtitle> -->
    <mat-card-content>
      <mat-tab-group (selectedTabChange)="select($event)">
        <mat-tab label="Stamping Cost">
          <div class="d-flex justify-content-end align-items-center form_sec my-2">
            <!-- <a href="javascript:;" (click)="openStampingDialog()" class="btn add_btn mr-2">Add New</a> -->
            <mat-form-field appearance="fill" class="search">
              <!-- <mat-label>Search</mat-label> -->
              <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter_stamping()" placeholder="Search" autocomplete="off">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <mat-card-content class="mt-2">
            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
              (scrolled)="onScroll_stamping()" [scrollWindow]="false" class="scroll table-responsive">
              <table mat-table #stamping_sort="matSort" [dataSource]="stampingCost_dataSource" matSort class="mat-elevation-z0 table_view table-bordered table-striped">
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> S.No </th>
                  <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="capacity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
                    <td mat-cell *matCellDef="let element"> {{element?.capacity}} </td>
                  </ng-container>
                  <ng-container matColumnDef="accuracy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Accuracy </th>
                    <td mat-cell *matCellDef="let element"> {{element?.accuracy}} </td>
                  </ng-container>
                  <ng-container matColumnDef="min_value">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Min Value </th>
                    <td mat-cell *matCellDef="let element"> {{element?.min_value}} </td>
                  </ng-container>
                <ng-container matColumnDef="class_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
                  <td mat-cell *matCellDef="let element"> {{element?.class_name}} </td>
                </ng-container>
                <ng-container matColumnDef="stamping_cost">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                  <td mat-cell *matCellDef="let element"> {{element?.stamping_cost || '---'}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" (click)="openStampingDialog(element,element.id)" class="actions_icons" matTooltip="Edit"> <mat-icon class="mr-1 icons">edit</mat-icon></a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="stampingCost_displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: stampingCost_displayedColumns;"></tr>
              </table>
            </div>
            <ng-container *ngIf="stampingCost_dataSource?.filteredData.length == 0">
              <div class="no_data_msg">No Data Avaliable</div>
            </ng-container>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Service Cost">
          <div class="d-flex justify-content-end align-items-center form_sec my-2">
            <!-- <mat-card-subtitle class="sub_title mr-auto">Price List</mat-card-subtitle> -->
            <!-- <a href="javascript:;" (click)="openServiceDialog()" class="btn add_btn mr-2">Add New</a> -->
            <mat-form-field appearance="fill" class="search">
              <!-- <mat-label>Search</mat-label> -->
              <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter_service()"  placeholder="Search" autocomplete="off">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <mat-card-content class="mt-2">
            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
              (scrolled)="onScroll_service()" [scrollWindow]="false" class="scroll">
              <table mat-table #service_sort="matSort" [dataSource]="serviceCost_dataSource" matSort class="mat-elevation-z0 table_view table-bordered">
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> S.No </th>
                  <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="type_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Type </th>
                  <td mat-cell *matCellDef="let element"> {{element?.type_name}} </td>
                </ng-container>
                <ng-container matColumnDef="cost">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                  <td mat-cell *matCellDef="let element"> {{element?.cost}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <a href="javascript:;" (click)="openServiceDialog(element,element.id)"  class="actions_icons" matTooltip="Edit"> <mat-icon class="mr-1 icons">edit</mat-icon></a>
                    <!-- <a href="javascript:;" (click)="editService(element,element.id)" class="actions_icons"
                      matTooltip="Edit">
                      <mat-icon class="mr-1 icons">edit</mat-icon>
                    </a>
                    <a href="javascript:;" (click)="deleteService(element.id)" class="actions_icons"
                      matTooltip="Delete">
                      <mat-icon class="mr-1 icons">delete</mat-icon>
                    </a> -->
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="serviceCost_displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: serviceCost_displayedColumns;"></tr>
              </table>
            </div>
            <ng-container *ngIf="serviceCost_dataSource?.filteredData.length == 0">
              <div class="no_data_msg">No Data Avaliable</div>              
            </ng-container>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

  </mat-card>
</section>
</div>