<section class="page_content_modal mb-3 pb-3">
        <h1 class="m-0">Add Service Cost</h1>
        <button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </section>
      <div class="dialog_form_page">
      <form [formGroup]="serviceCostForm" (ngSubmit)="save()" autocomplete="off" class="form_sec">
        <div class="form-row">
          <div class="form-group col-lg-6 col-md-6">
            <label for="">Service Type</label>
              <mat-form-field appearance="fill" class="form_filed read_only">
              <input matInput placeholder="Service Type" formControlName="type_name" [readonly]="true" class="price" required
              matTooltip={{value.edit_serviceCost.type_name}} matTooltipPosition=above>
              </mat-form-field>
          </div>
          <div class="form-group col-lg-6 col-md-6">
            <label for="">Price<span class="req">*</span></label>
            <mat-form-field appearance="fill" class="form_filed">
              <input matInput placeholder="Price" type="number" formControlName="cost" class="price" required cdkFocusInitial>
              <span matPrefix>₹&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex justify-content-end form_btn">
          <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Save</button>
          <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
        </div>
      </form>
      </div>