<section class="page_content_modal mb-3 pb-3">
  <h1 class="m-0">Add Stamping Cost</h1>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</section>
<div class="dialog_form_page">
  <form [formGroup]="stampingCostForm" (ngSubmit)="save()" autocomplete="off" class="form_sec">
    <div class="form-row">
      <div class="form-group col-lg-4 col-md-6">
        <label for="">Capacity</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Capacity" value={{this.value.edit_stampingCost.capacity}} [readonly]="true"
            class="price">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-4 col-md-6">
        <label for="">Accuracy</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Class" value={{this.value.edit_stampingCost.accuracy}} [readonly]="true"
            class="price">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-4 col-md-6">
        <label for="">Min Value</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Min Value" value={{this.value.edit_stampingCost.min_value}} [readonly]="true"
            class="price">
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-4 col-md-6">
        <label for="">Class</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Class" formControlName="class_name" [readonly]="true" class="price" required>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-4 col-md-6">
        <label for="">Price<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Price" type="number" formControlName="stamping_cost" class="price" required
            cdkFocusInitial>
          <span matPrefix>₹&nbsp;</span>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-end form_btn">
      <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Save</button>
      <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
    </div>
  </form>
</div>