<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">Send SMS</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item active" aria-current="page">Send SMS</li>
        </ol>
      </nav>
    </div>
  </section>

  <section class="accurate_main_area">
    <mat-card>
      <mat-card-content>
        <div class="d-flex justify-content-end align-items-end sms_sec">
          <!-- <mat-card-subtitle class="sub_title mr-auto">Send SMS</mat-card-subtitle> -->
          <ul class="list-unstyled d-flex sms_msg mr-5">
            <li>SMS Limit: <span>{{sms_limit}}</span></li>
            <li>SMS Used: <span>{{sms_used}}</span></li>
            <li class="end_sec">Available credits: <span>{{sms_available}}</span></li>
          </ul>
          <a href="javascript:;" (click)="openDialog()" class="btn add_btn mr-2">Send SMS</a>
        </div>
        <mat-tab-group (selectedTabChange)="select($event)">
          <mat-tab label="Dealer({{dealerCount}})">
            <section class="accurate_main_area">
              <!-- <mat-card> -->
              <div class="d-flex justify-content-between align-items-center form_sec">
                <button mat-icon-button (click)="toggle()">
                  <mat-icon>filter_list</mat-icon>
                </button>
                <mat-form-field appearance="fill" class="search">
                  <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter_dealer()"
                    placeholder="Search" autocomplete="off">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>

              <mat-accordion class="filter_sec">
                <mat-expansion-panel [expanded]="panelOpenState">
                  <div class="filter_area_sec form_sec">
                    <div class="filter_filed">
                      <label for="">State</label>
                      <mat-form-field appearance="fill" class="form_filed">
                        <mat-select [(ngModel)]="state" (selectionChange)="getCities($event.value)">
                          <input matInput placeholder="Search" (keyup)="search_state($event.target.value)"
                            (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="state_input">
                          <mat-option value="" selected> All</mat-option>
                          <mat-option *ngFor="let state of states" [value]="state?.id">{{state.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="filter_filed">
                      <label for="">City</label>
                      <mat-form-field appearance="fill" class="form_filed">
                        <mat-select [(ngModel)]="city" (selectionChange)="getAreas($event.value)">
                          <input matInput placeholder="Search" (keyup)="search_city($event.target.value)"
                            (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="city_input">
                          <mat-option value="" selected> All</mat-option>
                          <mat-option *ngFor=" let city of cities" [value]="city?.id">{{city.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="filter_filed">
                      <label for="">Area</label>
                      <mat-form-field appearance="fill" class="form_filed">
                        <mat-select [(ngModel)]="area">
                          <input matInput placeholder="Search" (keyup)="search_area($event.target.value)"
                            (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="area_input">
                          <mat-option value="" selected> All</mat-option>
                          <mat-option *ngFor="let area of areas" [value]="area?.id">{{area.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="align_block">
                      <div class="form_btn">
                        <button mat-raised-button type="submit" class="btn mr-1"
                          (click)="filter_dealer()">Filter</button>
                        <button mat-raised-button class="btn" (click)="clear_dealer()">Clear</button>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-card-content class="mt-2">
                <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                  (scrolled)="onScroll_dealer()" [scrollWindow]="false" class="scroll table-responsive">
                  <table mat-table [dataSource]="dataSource_dealer" #dealer_sort="matSort" matSort
                    class="mat-elevation-z0 table_view table-bordered table-striped">
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle_dealer() : null"
                          [checked]="selection.hasValue() && isAllSelected_dealer()"
                          [indeterminate]="selection.hasValue() && !isAllSelected_dealer()"
                          [aria-label]="checkboxLabel_dealer()" (change)="selectAll_dealer($event)">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" *ngIf="row.user.status !== 'Inactive'"
                          (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel_dealer(row)" (change)="selectDealer(row.user.id, $event)">
                        </mat-checkbox>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> S.No </th>
                      <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="user.uuid">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let element"> {{element?.user?.uuid}}</td>
                    </ng-container>
                    <ng-container matColumnDef="user.full_name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dealer Name </th>
                      <td mat-cell *matCellDef="let element">{{element?.user?.full_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="user.username">
                      <th mat-header-cell *matHeaderCellDef> Mobile No </th>
                      <td mat-cell *matCellDef="let element"> {{element?.user?.username}}</td>
                    </ng-container>
                    <ng-container matColumnDef="address_line1">
                      <th mat-header-cell *matHeaderCellDef> Address </th>
                      <td mat-cell *matCellDef="let element"> {{element?.address_line1 || '---'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="city.name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                      <td mat-cell *matCellDef="let element">{{element?.city?.name || '---'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="user.status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                      <td mat-cell *matCellDef="let element" [class.open]="element?.user?.status === 'Active'"
                        [class.inprogress]="element?.user?.status === 'Verified'">
                        {{element?.user?.status || 'Not Verified'}} </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Actions </th>
                          <td mat-cell *matCellDef="let element">
                            <a href="javascript:;" (click)="edit(element,element.user.id)" class="actions_icons"
                              matTooltip="Edit">
                              <mat-icon class="mr-1 icons">edit</mat-icon>
                            </a>
                            <a href="javascript:;" (click)="delete(element.id)" class="actions_icons" matTooltip="Delete">
                              <mat-icon class="mr-1 icons">delete</mat-icon>
                            </a>
                          </td>
                        </ng-container> -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns_dealer; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_dealer;"></tr>
                  </table>
                </div>
                <ng-container *ngIf="dataSource_dealer?.filteredData.length == 0">
                  <div class="no_data_msg">No Data Avaliable</div>
                </ng-container>
              </mat-card-content>

              <!-- </mat-card> -->
            </section>

          </mat-tab>
          <mat-tab label="Customer({{customerCount}})">
            <section class="accurate_main_area">
              <!-- <mat-card-> -->
              <div class="d-flex justify-content-between align-items-center form_sec">
                <button mat-icon-button (click)="toggle1()">
                  <mat-icon>filter_list</mat-icon>
                </button>
                <mat-form-field appearance="fill" class="search">
                  <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter_customer()"
                    placeholder="Search" autocomplete="off">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
              </div>

              <mat-accordion class="filter_sec">
                <mat-expansion-panel [expanded]="panelOpenState1">
                  <div class="filter_area_sec form_sec">
                    <div class="filter_filed">
                      <label for="">Dealer</label>
                      <mat-form-field appearance="fill" class="form_filed">
                        <mat-select [(ngModel)]="dealerFilter">
                          <input matInput placeholder="Search" (keyup)="search_dealer($event.target.value)"
                            (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="dealer_input">
                          <mat-option value="" selected>All</mat-option>
                          <mat-option *ngFor="let dealer of dealer_list" [value]="dealer?.dealer?.id">
                            {{dealer.full_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="filter_filed">
                      <label for="">State</label>
                      <mat-form-field appearance="fill" class="form_filed">
                        <mat-select [(ngModel)]="state1" (selectionChange)="getCities($event.value)">
                          <input matInput placeholder="Search" (keyup)="search_state1($event.target.value)"
                            (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="state_input1">
                          <mat-option value="" selected> All</mat-option>
                          <mat-option *ngFor="let state of states1" [value]="state?.id">{{state.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="filter_filed">
                      <label for="">City</label>
                      <mat-form-field appearance="fill" class="form_filed">
                        <mat-select [(ngModel)]="city1" (selectionChange)="getAreas($event.value)">
                          <input matInput placeholder="Search" (keyup)="search_city1($event.target.value)"
                            (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="city_input1">
                          <mat-option value="" selected> All</mat-option>
                          <mat-option *ngFor="let city of cities1" [value]="city?.id">{{city.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="filter_filed">
                      <label for="">Area</label>
                      <mat-form-field appearance="fill" class="form_filed">
                        <mat-select [(ngModel)]="area1">
                          <input matInput placeholder="Search" (keyup)="search_area1($event.target.value)"
                            (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="area_input1">
                          <mat-option value="" selected> All</mat-option>
                          <mat-option *ngFor="let area of areas1" [value]="area?.id">{{area.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="align_block mb-3">
                    <div class="form_btn">
                      <button mat-raised-button type="submit" class="btn mr-1"
                        (click)="filter_customer()">Filter</button>
                      <button mat-raised-button class="btn" (click)="clear_customer()">Clear</button>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <mat-card-content class="mt-2">
                <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                  (scrolled)="onScroll_customer()" [scrollWindow]="false" class="scroll table-responsive">
                  <table mat-table [dataSource]="dataSource_customer" #customer_sort="matSort" matSort
                    class="mat-elevation-z0 table_view table-bordered table-striped">
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle_customer() : null"
                          [checked]="selection1.hasValue() && isAllSelected_customer()"
                          [indeterminate]="selection1.hasValue() && !isAllSelected_customer()"
                          [aria-label]="checkboxLabel_customer()" (change)="selectAll_customer($event)">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection1.toggle(row) : null" [checked]="selection1.isSelected(row)"
                          [aria-label]="checkboxLabel_customer(row)" (change)="selectCustomer(row.user.id, $event)">
                        </mat-checkbox>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> S.No </th>
                      <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="user.uuid">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let element"> {{element.user.uuid}} </td>
                    </ng-container>
                    <ng-container matColumnDef="user.full_name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.user.full_name || '---'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="user.username">
                      <th mat-header-cell *matHeaderCellDef> Mobile No </th>
                      <td mat-cell *matCellDef="let element"> {{element.user.username}} </td>
                    </ng-container>
                    <ng-container matColumnDef="address_line1">
                      <th mat-header-cell *matHeaderCellDef> Address </th>
                      <td mat-cell *matCellDef="let element"> {{element.address_line1 || '---'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="city.name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                      <td mat-cell *matCellDef="let element"> {{element?.city?.name || '---'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="qrcode">
                      <th mat-header-cell *matHeaderCellDef> QR Code </th>
                      <td mat-cell *matCellDef="let element" class="qr_code_data">
                        <span *ngIf="element.all_qr_available" class="qr_yes">Available</span>
                        <span *ngIf="!element.all_qr_available" class="qr_no">Un-Available</span>
                      </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Actions </th>
                      <td mat-cell *matCellDef="let element">
                        <a href="javascript:;" class="actions_icons" matTooltip="Edit" (click)="edit(element.id)">
                          <mat-icon class="mr-1 icons">edit</mat-icon>
                        </a>
                        <a href="javascript:;" (click)="delete(element.id)" class="actions_icons" matTooltip="Delete">
                          <mat-icon class="mr-1 icons">delete</mat-icon>
                        </a>
                      </td>
                    </ng-container> -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns_customer; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_customer;"></tr>
                  </table>
                </div>
                <ng-container *ngIf="dataSource_customer?.filteredData.length == 0">
                  <div class="no_data_msg">No Data Avaliable</div>
                </ng-container>
              </mat-card-content>
              <!-- </mat-card-> -->
            </section>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </section>
</div>