@import '~sass/styles.scss';

th.mat-sort-header-sorted {
    color: $th_theme_black;
  }
  .sms_sec{
flex-wrap: wrap;
  .sms_msg{
      li{
        &::after{
          content: "|";
          padding: 0 10px;  
        }
        &.end_sec{
          &::after{
            content: "";
            padding: 0 10px;  
            display: none!important;
          }
        }
        span{
          color: $th_theme_purple;
          font-weight: 500;
        }
      }
    }

    }
 