<section class="page_content_modal mb-3 pb-3">
    <h1 class="m-0">Send SMS</h1>
    <button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</section>
<div class="dialog_form_page">
<form [formGroup]="smsForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec">
    <div class="form-group">
        <label for="">Message<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
            <textarea class="" matInput value="Dear <Recipient>,
<content>
                    

Accurate - Ishtaa" rows="5" cols="40" formControlName="message" maxlength="160"></textarea>
        </mat-form-field>
    </div>
    <div>
        <p class="closed">Note:</p>
        <ul>
            <li> Kindly follow this format.</li>
            <li> You should replace the recipient and content of the message.</li>
            <li> 160 Characters only allowed.</li>
        </ul>
    </div>
    <div class="d-flex justify-content-end form_btn">
        <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Send SMS</button>
        <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
    </div>
</form>
</div>