<section class="page_content_modal mb-3 pb-3">
  <h1 class="m-0">Stamping</h1>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</section>
<div class="dialog_form_page">
  <form [formGroup]="dueForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec lg_modal">
    <h5 class="mb-3">Customer Info</h5>
    <div class="form-row">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Customer ID</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Customer ID" value="{{value.edit_due.user.uuid}}" [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Customer Name</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Customer Name" value="{{value.edit_due.user.full_name}}" [readonly]="true"
          matTooltip={{value.edit_due.user.full_name}} matTooltipPosition=above>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Mobile Number</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Mobile Number" value="{{value.edit_due.user.username}}" [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Whatsapp Number</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Whatsapp Number" value="{{value.edit_due.customer.whatsapp_no}}" maxlength="10"
            pattern="[0-9]*" [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Business Name</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Business Name" value="{{value.edit_due.customer.business_name}}"
            [readonly]="true" matTooltip={{value.edit_due.customer.business_name}} matTooltipPosition=above>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">State</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="State" value="{{value.edit_due.customer.state.name}}" [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">City</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="City" value="{{value.edit_due.customer.city.name}}" [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Pincode</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Pincode" value="{{value.edit_due.customer.pincode}}" [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-6 col-md-6">
        <label for="">Address</label>
        <mat-form-field appearance="fill" class="form_filed modify_input read_only">
          <textarea matInput placeholder="" value="{{value.edit_due.customer.address_line1}}"
            [readonly]="true" matTooltip={{value.edit_due.customer.address_line1}} matTooltipPosition=above></textarea>
        </mat-form-field>
      </div>
    </div>
    <h5 class="mb-3">Machine Info</h5>

    <div class="form-row">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Make</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Make" value="{{value.edit_due.machine.make}}" [readonly]="true"
          matTooltip={{value.edit_due.machine.make}} matTooltipPosition=above>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Model</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Model" value="{{value.edit_due.machine.mac_model}}" [readonly]="true"
          matTooltip={{value.edit_due.machine.mac_model}} matTooltipPosition=above>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Capacity</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Capacity" value="{{value.edit_due.machine.machine_class.capacity}}" [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Accuracy</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Accuracy" value="{{value.edit_due.machine.machine_class.accuracy}}" [readonly]="true">
        </mat-form-field>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <label for="">Machine Class</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Machine Class" value="{{value.edit_due.machine.machine_class.class_name}}"
            [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Sl No</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Sl no" value="{{value.edit_due.machine.sl_no}}" [readonly]="true"
          matTooltip={{value.edit_due.machine.sl_no}} matTooltipPosition=above>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Stamp Quarters</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Stamp quarters" value="{{value.edit_due.machine.stamp_quarters}}"
            [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">SI circle</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="SI circle" value="{{value.edit_due.machine.si_circle}}" [readonly]="true"
          matTooltip={{value.edit_due.machine.si_circle}} matTooltipPosition=above>
        </mat-form-field>
      </div>

      <div class="form-group col-lg-3 col-md-6 align_input">
        <label for="">Stamp Due Date</label>
        <mat-form-field appearance="fill" class="form_filed modify_input read_only pb-1">
          <input matInput [matDatepicker]="picker1" (click)="picker1.open()" placeholder="Date"
            value="{{value.edit_due.stamp_due_date}}" autocomplete="off" [readonly]="true" disabled class="pb-1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="value.edit_due.status !== 'Closed' && this.token.getRole() !== 'Verifier'">
        <label for="">Stamping Cost<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Stamping Cost" formControlName="stamping_cost" type="number" class="cost">
          <span matPrefix>₹&nbsp;</span>
          <mat-error *ngIf="dueForm.controls['stamping_cost'].errors?.required">Stamping Cost is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="value.edit_due.status === 'Closed' || this.token.getRole() === 'Verifier'">
        <label for="">Stamping Cost</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Stamping Cost" value="{{value.edit_due.stamping_cost}}" type="number"
            class="cost" [readonly]="true">
          <span matPrefix>₹&nbsp;</span>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="value.edit_due.status !== 'Closed' && this.token.getRole() !== 'Verifier'">
        <label for="">Status<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <mat-select formControlName="status" (selectionChange)="statusChange($event.value)">
            <mat-option value="" selected disabled>Select Status</mat-option>
            <mat-option value="Open">Open</mat-option>
            <mat-option value="In-progress">In-progress</mat-option>
            <mat-option value="Closed">Closed</mat-option>
          </mat-select>
          <mat-error *ngIf="dueForm.controls['status'].errors?.required">Status is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="value.edit_due.status === 'Closed' || this.token.getRole() === 'Verifier'">
        <label for="">Status</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Status" value={{value.edit_due.status}} [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="dueForm.value.status === 'Closed' && value.edit_due.status !== 'Closed' && this.token.getRole() !== 'Verifier'">
        <label for="">Successful<span class="req">*</span></label><br>
        <mat-radio-group formControlName="successful" (change)="radioChange($event.value)">
          <mat-radio-button [value]="true" class="mr-3">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="dueForm.controls['successful'].errors?.required">Successful is required
        </mat-error>
      </div>
      <div class="form-group col-lg-3 col-md-6" *ngIf="value.edit_due.status === 'Closed'">
        <label for="">Successful</label><br>
        <mat-radio-group [value]="value.edit_due.successful" disabled>
          <mat-radio-button [value]="true" class="mr-3">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="form-row" *ngIf="success && value.edit_due.status !== 'Closed' && this.token.getRole() !== 'Verifier'">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Payment Method<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <mat-select formControlName="payment_method">
            <mat-option value="" selected disabled>Select Payment Method</mat-option>
            <mat-option value="Online"> Online </mat-option>
            <mat-option value="Cheque"> Cheque </mat-option>
            <mat-option value="Cash"> Cash </mat-option>
            <mat-option value="Others"> Others</mat-option>
          </mat-select>
          <mat-error *ngIf="dueForm.controls['payment_method'].errors?.required">Payment Method is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6 align_input">
        <label for="">Next Due Date<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed date_select modify_input pb-1" (click)="picker.open()">
          <input matInput [min]="minDate" [matDatepicker]="picker" (click)="picker.open()" placeholder="Date"
            formControlName="next_due_date" autocomplete="off" class="date_select pb-1">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dueForm.controls['next_due_date'].errors?.required">Next Due Date is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Verification Certificate No<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Verification Certificate No" formControlName="verification_cert_no">
          <mat-error *ngIf="dueForm.controls['verification_cert_no'].errors?.required"> Certificate No is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6 modify_input">
          <label for="">Verification Certificate<span class="req">*</span></label>
          <mat-form-field appearance="fill" class="form_filed">
            <ngx-mat-file-input valuePlaceholder={{url}} formControlName="verification_cert_url"
              (change)="onChangeImage($event.target.files[0])" accept=".pdf,.doc,.docx">
            </ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
            <mat-error *ngIf="dueForm.controls['verification_cert_url'].errors?.required"> Verification Certificate is required
            </mat-error>
          </mat-form-field>
        </div>
      <!-- <div class="form-group col-lg-3 col-md-6">
      <label for="">Stamping Cost</label>
      <mat-form-field appearance="fill" class="form_filed">
        <input matInput placeholder="Stamping Cost" formControlName="stamping_cost" type="number" class="cost">
        <span matPrefix>$&nbsp;</span>
        <mat-error *ngIf="dueForm.controls['stamping_cost'].errors?.required">Stamping Cost is required
        </mat-error>
      </mat-form-field>
    </div> -->
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Verify at<span class="req">*</span></label><br>
        <mat-radio-group formControlName="verified_at" class="form_filed">
          <mat-radio-button value="Office" class="mr-3">Office</mat-radio-button>
          <mat-radio-button value="Site">Site</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="dueForm.controls['verified_at'].errors?.required">Verify at is required
        </mat-error>
      </div>
    </div>
    <div class="form-row" *ngIf="success && value.edit_due.status === 'Closed'">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Payment Method</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Payment Method" value={{value.edit_due.payment_method}} [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6 align_input">
        <label for="">Next Due Date</label>
        <mat-form-field appearance="fill" class="form_filed modify_input read_only pb-1" (click)="picker.open()">
          <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Date"
            value="{{value.edit_due.next_due}}" autocomplete="off" [readonly]="true" disabled class="pb-1">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Verification Certificate No</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Verification Certificate No" value="{{value.edit_due.verification_cert_no}}"
            [readonly]="true" matTooltip={{value.edit_due.verification_cert_no}} matTooltipPosition=above>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6 modify_input">
          <label for="">Verification Certificate</label>
      <br>
        <a class="proof_img">
          <img *ngIf="value.edit_due.verification_cert_url.url" src="{{BaseURL}}/{{value.edit_due.verification_cert_url.url}}" onerror="this.src='assets/img/placeholder.png'" height="60%"
            width="40%">
            <img *ngIf="!value.edit_due.verification_cert_url.url" src="assets/img/placeholder.png">
        </a>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Verify at</label><br>
        <mat-radio-group [value]="value.edit_due.verified_at" class="form_filed" disabled>
          <mat-radio-button value="Office" class="mr-3">Office</mat-radio-button>
          <mat-radio-button value="Site">Site</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <h6 class="mb-3">Additional Charges</h6>

    <div class="form-row">
        <div class="form-group col-lg-3 col-md-6">
            <label for="">Penalty Cost</label>
            <mat-form-field appearance="fill" class="form_filed read_only">
              <input matInput placeholder="Penalty Cost" value={{value.edit_due.penalty_cost}} [readonly]="true">
            </mat-form-field>
          </div>
          <div class="form-group col-lg-3 col-md-6"  *ngIf="dueForm.  value.verified_at === 'Site' && value.edit_due.status !== 'Closed'">
              <label for="">Site Cost<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput placeholder="Site Cost" formControlName="site_cost" type="number"
                class="cost">
                <span matPrefix>₹&nbsp;</span>
                <mat-error *ngIf="dueForm.controls['site_cost'].errors?.required"> Site Cost is required
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-6"  *ngIf="dueForm.value.verified_at === 'Site' && value.edit_due.status === 'Closed'">
                <label for="">Site Cost</label>
                <mat-form-field appearance="fill" class="form_filed read_only">
                  <input matInput placeholder="Site Cost" value={{value.edit_due.site_cost}} [readonly]="true">
                  <span matPrefix>₹&nbsp;</span>
                </mat-form-field>
              </div>
    </div>
    <div *ngIf="value.edit_due.status !== 'Closed' &&this.token.getRole() !== 'Verifier'"
      class="d-flex justify-content-end form_btn">
      <button mat-raised-button type="submit" class="btn" class="align_right" [disabled]="clicked">Update</button>
      <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
    </div>
  </form>
</div>