@import '~sass/styles.scss';

th.mat-sort-header-sorted {
    color: $th_theme_black;
  }

  input.cost::-webkit-outer-spin-button,
  input.cost::-webkit-inner-spin-button {
    display: none;
  }



  .report_filed{
      flex-wrap: wrap;
  .form-group{
      margin: 0px 10px 0 0;
      width: calc(95% / 4);
  }
}

@media only screen and (min-width: 1440px) {
      .report_filed{
          flex-wrap: wrap;
      .form-group{
          width: calc(95% / 5);
      }
  }
}

@media only screen and (max-width: 768px) {
      .report_filed{
          flex-wrap: wrap;
      .form-group{
          width: calc(95% / 2);
      }
  }
}
@media only screen and (max-width: 600px) {
      .report_filed{
          flex-wrap: wrap;
      .form-group{
          margin: unset;
          width: 100%;
  }
  }
}