<section class="page_content_modal mb-3 pb-3">
  <h1 class="m-0">Service Management</h1>
  <button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</section>
<div class="dialog_form_page">
  <form [formGroup]="serviceForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec">
    <div class="form-row">
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Customer ID</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Customer ID" value="{{value.edit_service.user.uuid}}" [readonly]="true">
        </mat-form-field>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <label for="">Customer Name</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Customer Name" value="{{value.edit_service.user.full_name}}" [readonly]="true"
          matTooltip={{value.edit_service.user.full_name}} matTooltipPosition=above>
        </mat-form-field>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <label for="">Mobile Number</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Mobile Number" value="{{value.edit_service.user.username}}" [readonly]="true">
        </mat-form-field>
      </div>

      <div class="form-group  col-lg-3 col-md-6">
        <label for="">Dealer Name</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Dealer Name" value="{{value.edit_service.dealer_name}}" [readonly]="true"
          matTooltip={{value.edit_service.dealer_name}} matTooltipPosition=above>
        </mat-form-field>
      </div>
      <div class="form-group  col-lg-3 col-md-6">
        <label for="">Model</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Model" value="{{value.edit_service.machine.mac_model}}" [readonly]="true"
          matTooltip={{value.edit_service.machine.mac_model}} matTooltipPosition=above>
        </mat-form-field>
      </div>

      <div class="form-group col-lg-3 col-md-6">
        <label for="">Service Type</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Service Type" value="{{value.edit_service.service_type.type_name}}"
            [readonly]="true" matTooltip={{value.edit_service.service_type.type_name}} matTooltipPosition=above>

          <!-- <mat-select formControlName="service_type_id" disabled>
          <mat-option value="" selected disabled>Select Service Type</mat-option>
          <mat-option *ngFor="let type of service_type" [value]="type.id">{{type.type_name}}</mat-option>
        </mat-select> -->
        </mat-form-field>
      </div>

      <!-- <div class="form-group col-lg-3 col-md-6" *ngIf="this.token.getRole() !== 'Verifier' && value.edit_service.status !== 'Closed'">
      <label for="">Service Cost</label>
      <mat-form-field appearance="fill" class="form_filed">
        <input matInput placeholder="Service Cost" formControlName="service_cost" type="number" class="cost">
        <span matPrefix>₹&nbsp;</span>
        <mat-error *ngIf="serviceForm.controls['service_cost'].errors?.required">Service Cost is required
        </mat-error>
      </mat-form-field>
    </div> -->
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Service Cost</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Service Cost" value="{{value.edit_service.service_cost}}" [readonly]="true"
            class="cost">
          <span matPrefix>₹&nbsp;</span>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="this.token.getRole() !== 'Verifier' &&  ( value.edit_service.status !== 'Won' && value.edit_service.status !== 'Lost' )">
        <label for="">Status<span class="req">*</span></label>
        <mat-form-field appearance="fill" class="form_filed">
          <mat-select formControlName="status">
            <mat-option value="" selected disabled>Select Status</mat-option>
            <mat-option value="Open">Open</mat-option>
            <mat-option value="In-progress">In-progress</mat-option>
            <mat-option value="Won">Won</mat-option>
            <mat-option value="Lost">Lost</mat-option>
          </mat-select>
          <mat-error *ngIf="serviceForm.controls['status'].errors?.required">Status is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="this.token.getRole() === 'Verifier' || value.edit_service.status === 'Won' || value.edit_service.status === 'Lost'">
        <label for="">Status</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Status" value="{{value.edit_service.status}}" [readonly]="true">
        </mat-form-field>
      </div>

      <div class="form-group col-lg-3 col-md-6 align_input">
        <label for="">Created</label>
        <mat-form-field appearance="fill" class="form_filed modify_input read_only">
          <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Date" autocomplete="off"
            value="{{value.edit_service.created_at}}" [readonly]="true" disabled class="pb-1">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6 align_input">
        <label for="">Last Update</label>
        <mat-form-field appearance="fill" class="form_filed modify_input read_only">
          <input matInput [matDatepicker]="picker1" (click)="picker1.open()" placeholder="Date" autocomplete="off"
            value="{{value.edit_service.updated_at}}" [readonly]="true" disabled class="pb-1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Address</label>
        <mat-form-field appearance="fill" class="form_filed modify_input read_only">
          <textarea matInput placeholder="" value="{{value.edit_service.customer.address_line1}}"
            [readonly]="true" matTooltip={{value.edit_service.customer.address_line1}} matTooltipPosition=above></textarea>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="this.token.getRole() !== 'Verifier' &&  ( value.edit_service.status !== 'Won' && value.edit_service.status !== 'Lost' )">
        <label for="">Description</label>
        <mat-form-field appearance="fill" class="form_filed modify_input">
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="this.token.getRole() === 'Verifier' || value.edit_service.status === 'Won' || value.edit_service.status === 'Lost'">
        <label for="">Description</label>
        <mat-form-field appearance="fill" class="form_filed modify_input read_only">
          <textarea matInput placeholder="Description" value="{{value.edit_service.description}}"
            [readonly]="true" matTooltip={{value.edit_service.description}} matTooltipPosition=above></textarea>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="this.token.getRole() !== 'Verifier' &&  ( value.edit_service.status !== 'Won' && value.edit_service.status !== 'Lost' )">
        <label for="">Discount Percentage</label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Discount Percentage" (keyup)="discount($event)" 
          formControlName="discount_percentage" maxlength="3" pattern="[0-9]*">
          <mat-error *ngIf="serviceForm.controls['discount_percentage'].errors?.lessthan">Please Enter a number less than 100
        </mat-error>
        <mat-error *ngIf="serviceForm.controls['discount_percentage'].errors?.pattern">Please Enter a Valid number
        </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="this.token.getRole() === 'Verifier' || value.edit_service.status === 'Won' || value.edit_service.status === 'Lost'">
        <label for="">Discount Percentage</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Discount Percentage" value="{{value.edit_service.discount_percentage}}"
            [readonly]="true">
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Discount Amount</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Discount Amount" formControlName="discount_amount"
            [readonly]="true">
          <span matPrefix>₹&nbsp;</span>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="this.token.getRole() !== 'Verifier' &&  ( value.edit_service.status !== 'Won' && value.edit_service.status !== 'Lost' )">
        <label for="">Extra Charges</label>
        <mat-form-field appearance="fill" class="form_filed">
          <input class="cost" type="number" matInput placeholder="Extra Charges" (keyup)="extraCharges($event)" formControlName="extra_charges">
          <span matPrefix>₹&nbsp;</span>        
        </mat-form-field>
      </div>
      <div class="form-group col-lg-3 col-md-6"
        *ngIf="this.token.getRole() === 'Verifier' || value.edit_service.status === 'Won' || value.edit_service.status === 'Lost'">
        <label for="">Extra Charges</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Extra Charges" value="{{value.edit_service.extra_charges}}"
            [readonly]="true">
          <span matPrefix>₹&nbsp;</span>
        </mat-form-field>
      </div>
      <!-- <div class="form-group col-lg-3 col-md-6"
        *ngIf="this.token.getRole() !== 'Verifier' &&  ( value.edit_service.status !== 'Won' || value.edit_service.status !== 'Lost' )">
        <label for="">Total</label>
        <mat-form-field appearance="fill" class="form_filed">
          <input matInput placeholder="Total" formControlName="total_cost">
        </mat-form-field>
      </div> -->
      <div class="form-group col-lg-3 col-md-6">
        <label for="">Total Cost</label>
        <mat-form-field appearance="fill" class="form_filed read_only">
          <input matInput placeholder="Total Cost"  formControlName="total_cost" [readonly]="true">
          <span matPrefix>₹&nbsp;</span>    
        </mat-form-field>
      </div>
    </div>
    <div
      *ngIf="this.token.getRole() !== 'Verifier' &&  ( value.edit_service.status !== 'Won' && value.edit_service.status !== 'Lost' )"
      class="d-flex justify-content-end form_btn">
      <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Update</button>
      <button mat-raised-button mat-dialog-close class="cancel_btn">Cancel</button>
    </div>
  </form>
</div>