<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">Service Management</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item active" aria-current="page">Service Management</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="accurate_main_area">
    <mat-card>
      <div class="d-flex justify-content-between align-items-center form_sec">
        <button mat-icon-button (click)="toggle()">
          <mat-icon>filter_list</mat-icon>
        </button>
        <mat-form-field appearance="fill" class="search">
          <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter()" placeholder="Search"
            autocomplete="off">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <mat-accordion class="filter_sec">
        <mat-expansion-panel [expanded]="panelOpenState">
          <div class="filter_area_sec form_sec">
            <div class="filter_filed">
              <label for="">Dealer</label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select [(ngModel)]="dealer" (selectionChange)="getCustomers($event.value)">
                  <input matInput placeholder="Search" (keyup)="search_dealer($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="dealer_input">
                  <mat-option value="" selected> All</mat-option>
                  <mat-option *ngFor="let dealer of dealers" [value]="dealer?.dealer?.id">{{dealer.full_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter_filed">
              <label for="">Customer</label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select [(ngModel)]="customer">
                  <input matInput placeholder="Search" (keyup)="search_customer($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="customer_input">
                  <mat-option value="" selected>All</mat-option>
                  <mat-option *ngFor="let customer of customers" [value]="customer?.customer?.id">{{customer.full_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter_filed">
              <label for="">Status</label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select [(ngModel)]="status">
                  <mat-option value="" selected>All</mat-option>
                  <mat-option value="Open">Open</mat-option>
                  <mat-option value="In-progress">In-progress</mat-option>
                  <mat-option value="Won">Won</mat-option>
                  <mat-option value="Lost">Lost</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="align_block">
              <div class="form_btn">
                <button mat-raised-button type="submit" class="btn mr-1" (click)="filter()">Filter</button>
                <button mat-raised-button class="btn" (click)="clear()">Clear</button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-card-content class="mt-2">
        <div [ngClass]="{'expand' : panelOpenState}" infiniteScroll [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false" class="scroll table-responsive">
          <table mat-table [dataSource]="dataSource" matSort
            class="mat-elevation-z0 table_view table-bordered table-striped">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> S.No </th>
              <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="user.full_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
              <td mat-cell *matCellDef="let element"> {{element.user?.full_name}}</td>
            </ng-container>
            <ng-container matColumnDef="customer.city.name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
              <td mat-cell *matCellDef="let element"> {{element.customer?.city?.name || '---'}}</td>
            </ng-container>
            <ng-container matColumnDef="service_type.type_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Type </th>
              <td mat-cell *matCellDef="let element"> {{element?.service_type?.type_name}} </td>
            </ng-container>
            <ng-container matColumnDef="machine.mac_model">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
              <td mat-cell *matCellDef="let element"> {{element?.machine?.mac_model || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Requested Date </th>
              <td mat-cell *matCellDef="let element"> {{element?.created_at | date: "dd-MMM-yyyy"}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element" [class.open]="element.status === 'Open'"
                [class.closed]="element.status === 'Won' || element.status === 'Lost'"
                [class.inprogress]="element.status === 'In-progress'">
                {{element?.status}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <a *ngIf="this.token.getRole() === 'Verifier'" href="javascript:;" (click)="edit(element,element.id)"
                  class="actions_icons" matTooltip="View">
                  <mat-icon class="mr-1 icons">visibility</mat-icon>
                </a>
                <a *ngIf="this.token.getRole() !== 'Verifier'" href="javascript:;" (click)="edit(element,element.id)"
                  class="actions_icons" matTooltip="Edit">
                  <mat-icon class="mr-1 icons">edit</mat-icon>
                </a>
                <a *ngIf="this.token.getRole() === 'Superadmin'" href="javascript:;" (click)="delete(element.id)"
                  class="actions_icons" matTooltip="Delete">
                  <mat-icon class="mr-1 icons">delete</mat-icon>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <ng-container *ngIf="dataSource?.filteredData.length == 0">
          <div class="no_data_msg">No Data Avaliable</div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </section>
</div>
