@import '~sass/styles.scss';
  
th.mat-sort-header-sorted {
    color: $th_theme_black;
  }
  input.cost::-webkit-outer-spin-button,
  input.cost::-webkit-inner-spin-button {
    display: none;
  }


  