<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">Customer Management</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item active" aria-current="page">Customer Management</li>
        </ol>
      </nav>
    </div>
  </section>

  <section class="accurate_main_area">
    <mat-card>
      <div class="d-flex justify-content-between align-items-center form_sec">
        <button mat-icon-button (click)="toggle()">
          <mat-icon>filter_list</mat-icon>
        </button>
        <div class="d-flex justify-content-start align-items-center">
          <button href="javascript:;" *ngIf="customerID.length > 0" (click)="download_qrcode()"
            class="btn add_btn mr-2">Download QR</button>
          <button href="javascript:;" *ngIf="customerID.length === 0" class="btn add_btn mr-2" disabled>Download
            QR</button>
          <mat-form-field appearance="fill" class="search">
            <input matInput [(ngModel)]="searchValue" (keyup)="applyFilter()" placeholder="Search"
              autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <mat-accordion class="filter_sec">
        <mat-expansion-panel [expanded]="panelOpenState">
          <div class="filter_area_sec form_sec">
            <div class="filter_filed">
              <label for="">Dealer</label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select [(ngModel)]="dealer">
                  <input matInput placeholder="Search" (keyup)="search_dealer($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="dealer_input">
                  <mat-option value="" selected>All</mat-option>
                  <mat-option *ngFor="let dealer of dealers" [value]="dealer?.dealer?.id">{{dealer.full_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter_filed">
              <label for="">SI Circle</label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select [(ngModel)]="si_circle">
                  <input matInput placeholder="Search" (keyup)="search_si($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="si_input">
                  <mat-option value="" selected>All</mat-option>
                  <mat-option *ngFor="let si_circle of si_circleList" [value]="si_circle">{{si_circle}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter_filed">
              <label for="">State</label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select [(ngModel)]="state" (selectionChange)="getCities($event.value)">
                  <input matInput placeholder="Search" (keyup)="search_state($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="state_input">
                  <mat-option value="" selected> All</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state?.id">{{state.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter_filed">
              <label for="">City</label>
              <mat-form-field appearance="fill" class="form_filed">
                <mat-select [(ngModel)]="city">
                  <input matInput placeholder="Search" (keyup)="search_city($event.target.value)"
                    (keydown)="$event.stopPropagation()" class="search" [(ngModel)]="city_input">
                  <mat-option value="" selected> All</mat-option>
                  <mat-option *ngFor="let city of cities" [value]="city?.id">{{city.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="align_block">
            <div class="form_btn">
              <button mat-raised-button type="submit" class="btn mr-1" (click)="filter()">Filter</button>
              <button mat-raised-button class="btn" (click)="clear()">Clear</button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-card-content class="mt-2">
        <div [ngClass]="{'expand' : panelOpenState}" infiniteScroll [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false" class="scroll table-responsive">
          <table mat-table [dataSource]="dataSource" matSort
            class="mat-elevation-z0 table_view table-bordered table-striped">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
                  (change)="selectAll($event)">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"
                  (change)="selectCustomer(row.id, $event)" *ngIf="row.all_qr_available">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> S.No </th>
              <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="user.uuid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let element" class="align_icon"> {{element.user.uuid}} </td>
            </ng-container>
            <ng-container matColumnDef="user.full_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
              <td mat-cell *matCellDef="let element"> {{element.user.full_name || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="user.username">
              <th mat-header-cell *matHeaderCellDef> Mobile No </th>
              <td mat-cell *matCellDef="let element"> {{element.user.username}} </td>
            </ng-container>
            <ng-container matColumnDef="address_line1">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{element.address_line1 || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="assigned_to">
              <th mat-header-cell *matHeaderCellDef> Assigned to </th>
              <td mat-cell *matCellDef="let element"> {{element.assigned_to || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="state.name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
              <td mat-cell *matCellDef="let element"> {{element.state?.name || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="city.name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
              <td mat-cell *matCellDef="let element"> {{element.city?.name || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="customer_category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Category </th>
              <td mat-cell *matCellDef="let element"> {{element?.customer_category?.name || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="qrcode">
              <th mat-header-cell *matHeaderCellDef> QR Code </th>
              <td mat-cell *matCellDef="let element" class="qr_code_data">
                <span *ngIf="element.all_qr_available" class="qr_yes">Available</span>
                <span *ngIf="!element.all_qr_available" class="qr_no">Un-Available</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="dealer_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dealer </th>
              <td mat-cell *matCellDef="let element"> {{element.dealer_name || '---'}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element" class="align_icon">
                <!-- <a *ngIf="this.token.getRole() === 'Verifier'" href="javascript:;" (click)="edit(element.id)"
                  class="actions_icons" matTooltip="View">
                  <mat-icon class="mr-1 icons">visibility</mat-icon>
                </a> -->
                <button *ngIf="this.token.getRole() === 'Verifier'" class="btn add_btn"
                (click)="edit(element.id)">Verify</button>
                <a *ngIf="this.token.getRole() !== 'Verifier'" href="javascript:;" class="actions_icons"
                  matTooltip="Edit" (click)="edit(element.id)">
                  <mat-icon class="mr-1 icons">edit</mat-icon>
                </a>
                <a *ngIf="this.token.getRole() === 'Superadmin'" href="javascript:;" (click)="delete(element.id)"
                  class="actions_icons" matTooltip="Delete">
                  <mat-icon class="mr-1 icons">delete</mat-icon>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <ng-container *ngIf="dataSource?.filteredData.length == 0">
          <div class="no_data_msg">No Data Avaliable</div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </section>
</div>
