<div class="main_content">
  <section class="page_content_wrapper mb-3">
    <div class="d-flex justify-content-between align-items-between">
      <h1 class="m-0">Reset Password</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
              <mat-icon matPrefix class="mr-1 icons">home</mat-icon>
            </a></li>
          <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
        </ol>
      </nav>
    </div>
  </section>
  <section class="accurate_main_area">
    <mat-card class="my-card">
      <!-- <mat-card-subtitle class="sub_title mr-auto">Reset Password</mat-card-subtitle> -->
      <mat-card-content class="dialog_form_page">
        <form class="my-form" [formGroup]="resetForm" (ngSubmit)="submit()" autocomplete="off" class="form_sec">
          <div class="form-row">
            <div class="form-group col-lg-4 col-md-6">
              <label for="">Old Password<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput type="password" placeholder="Old password" [type]="hide ? 'password' : 'text'" required
                  formControlName="old_password" autocomplete="off" (keydown)="spaceNotallowed($event)" class="pb-1">
                <mat-icon aria-hidden="false" matSuffix (click)="hide = !hide" class="date_select">
                  {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-error *ngIf="resetForm.controls['old_password'].errors?.required">Old password is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-4 col-md-6">
              <label for="">New Password<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput type="password" placeholder="New password" [type]="hide1 ? 'password' : 'text'" required
                  formControlName="password" (keydown)="spaceNotallowed($event)"
                  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{5,}$" class="pb-1">
                <mat-icon aria-hidden="false" matSuffix (click)="hide1 = !hide1" class="date_select">
                  {{hide1 ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-error *ngIf="resetForm.controls['password'].errors?.required">New password is required
                </mat-error>
                <mat-error *ngIf="resetForm.controls['password'].errors?.pattern">New password must meet the following
                  criteria.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-lg-4 col-md-6">
              <label for="">Confirm Password<span class="req">*</span></label>
              <mat-form-field appearance="fill" class="form_filed">
                <input matInput type="password" placeholder="Confirm new password" [type]="hide2 ? 'password' : 'text'"
                  required formControlName="password_confirmation" (keydown)="spaceNotallowed($event)"
                  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&].{5,}$" class="pb-1">
                <mat-icon aria-hidden="false" matSuffix (click)="hide2 = !hide2" class="date_select">
                  {{hide2 ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-error *ngIf="resetForm.controls['password_confirmation'].errors?.required">Confirm Password is
                  required
                </mat-error>
                <mat-error *ngIf="resetForm.controls['password_confirmation'].errors?.mustMatch">Confirm password does
                  not match.
                </mat-error>
                <mat-error *ngIf="resetForm.controls['password_confirmation'].errors?.pattern">Confirm password must
                  meet the following criteria.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div>
            <p class="closed">Note: Use six or more characters with mix of uppercase, lowercase letters, numbers and special characters.</p>
          </div>
          <div class="d-flex justify-content-end form_btn">
            <button mat-raised-button type="submit" class="btn" [disabled]="clicked">Update</button>
            <button mat-raised-button class="cancel_btn" (click)="cancel()">Cancel</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
</div>